section(class="main-nav container")
  .main-nav__account-and-search-block 
    a(class="main-nav__logo-link" href="#" alt="Magic Wood Map")
      img(class="main-nav__logo" src="../../blocks/main-nav/images/logo.svg" alt="Magic Wood Map логотип")
    .main-nav__input-wrapper
      input(class="input main-nav__input" type="text" placeholder="Знайти..." name="search")
      button(class="main-nav__icon-loupe")
        i.icon-loupe
    .main-nav__account-buttons-block 
      a(class="main-nav__account-button" href="#" alt="Аккаунт")
        i(class="main-nav__account-button-icon icon-account")
        | Аккаунт
      span.main-nav__short-line
      button(class="main-nav__account-button")
        i(class="main-nav__account-button-icon icon-bag")
        | Корзина
      span.main-nav__short-line
      button(class="main-nav__account-button")
        i(class="main-nav__account-button-icon icon-like")
        | Сподобалось
  nav.main-nav__nav-block 
    .main-nav__main-links-block 
      a(class="main-nav__link" href="#" alt="Головна") Головна
      span.main-nav__long-line 
      a(class="main-nav__link" href="#" alt="Про нас") Про нас
      span.main-nav__long-line 
      a(class="main-nav__link" href="#" alt="Контакти") Контакти
      span.main-nav__long-line 
      a(class="main-nav__link" href="#" alt="Блог") Блог
      span.main-nav__long-line 
      a(class="main-nav__link" href="#" alt="Каталог") Каталог
    .main-nav__additional-links-block 
      a(class="main-nav__link main-nav__link_grey" href="#" alt="Оферта") Оферта 
      span.main-nav__long-line
      a(class="main-nav__link main-nav__link_grey" href="#" alt="Доставка") Доставка
      span.main-nav__long-line 
      a(class="main-nav__link main-nav__link_grey" href="#" alt="FAQ") FAQ 
      
