article(class="call-back-form container")
  h3(class="title title_30-px title_fw-400 call-back-form__title") Зворотній дзвінок
  p(class="text text_ff-poppins text_13-px text_fw-500 text_c-grey-9 call-back-form__text" id="form-label") Залиште контакти і ми передвзонимо вам найближчим часом
  form(class="call-back-form__form" aria-labelledby="form-label" novalidate tabindex="0")
    div(class="call-back-form__input-wrapper")
      label(class="text text_ff-poppins text_fw-500 text_c-grey-10 call-back-form__label" for="input-name") Ім’я*
      input(class="input call-back-form__input" id="input-name" type="text" name="name" required aria-required="true" aria-label="Введіть Ваше ім'я")
    div(class="call-back-form__input-wrapper")
      label(class="text text_ff-poppins text_fw-500 text_c-grey-10 call-back-form__label" for="input-tel") Номер телефону*
      input(class="input call-back-form__input" id="input-tel" type="tel" name="tel" required aria-required="true" aria-label="Введіть Ваш номер телефона")
    div(class="call-back-form__input-wrapper call-back-form__input-wrapper_wide")
      label(class="text text_ff-poppins text_fw-500 text_c-grey-10 call-back-form__label" for="input-email") Електронна адреса*
      input(class="input call-back-form__input" id="input-email" type="email" name="email" required aria-required="true" aria-label="Введіть Вашу електронну адресу")
    div(class="call-back-form__input-wrapper call-back-form__input-wrapper_wide")
      label(class="text text_ff-poppins text_fw-500 text_c-grey-10 call-back-form__label" for="input-message") Повідомлення 
      textarea(class="input call-back-form__input call-back-form__input_textarea" id="input-message" type="text" name="message" aria-label="Введіть Ваше повідомлення")
    button(class="button call-back-form__submit-button" type="submit") Надіслати
.call-back-form__white-space
    
