main(class="categories-main container")
  .categories-main__title-block
    span(class="categories-main__line")
    h1(class="title title_fw-400 title_c-black categories-main__title") Категорії
    span(class="categories-main__line")
  a(class="categories-button categories-main__categories-button categories-main__categories-button_1" href="#" alt="Одношарові мапи") 
  a(class="categories-button categories-main__categories-button categories-main__categories-button_2" href="#" alt="Коричнева з підсвідкою") 
  a(class="categories-button categories-main__categories-button categories-main__categories-button_3" href="#" alt="Додатки до мап") 
  a(class="categories-button categories-main__categories-button categories-main__categories-button_4" href="#" alt="Багатошарові мапи") 