link(rel="preload" href="../../assets/fonts/Poppins/poppins-regular.woff2" as="font" type="font/woff2" crossorigin)
link(rel="preload" href="../../assets/fonts/Poppins/poppins-medium.woff2" as="font" type="font/woff2" crossorigin)
link(rel="preload" href="../../assets/fonts/Poppins/poppins-semibold.woff2" as="font" type="font/woff2" crossorigin)
link(rel="preload" href="../../assets/fonts/Montserrat/montserrat-regular.woff2" as="font" type="font/woff2" crossorigin)
link(rel="preload" href="../../assets/fonts/Montserrat/montserrat-medium.woff2" as="font" type="font/woff2" crossorigin)