{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": "off",
    "import/extensions": "always"
  },
  "ignorePatterns": [
    "dist",
    "webpack.config.js"
  ]
}