main(class="about-us-main container")
  .about-us-main__text-content 
    h2(class="title title_60-px title_c-black about-us-main__title") Magic Wood Maps
    p(class="text text_20-px text_fw-500 text_c-grey about-us-main__text") Різні види карт з натурального дерева та додатківдля них щоб відповідати потребам наших клієнтів. Для того, щоб наш декор був найкращим, ми співпрацюємо з кращими виробниками сировини та фарб у галузі.
  img(class="about-us-main__img" src="../../blocks/about-us-main/images/map.svg" width="602" height="402" alt="Мапа України")
  .about-us-main__contacts
    div(class="about-us-main__contact-column about-us-main__contact-column_left")
      p(class="text text_ff-poppins text_c-black-1 about-us-main__text-small") Підписуйся на нас
      .about-us-main__social-links-block 
        a(class="round-button round-button_with-shadow about-us-main__social-link" href="https://uk-ua.facebook.com/" alt="Facebook" aria-label="Facebook")
          i.icon-facebook
        a(class="round-button round-button_with-shadow about-us-main__social-link" href="https://www.instagram.com/" alt="Instagram" aria-label="Instagram")
          i.icon-instagram
        a(class="round-button round-button_with-shadow about-us-main__social-link" href="https://twitter.com/?lang=uk" alt="Twitter" aria-label="Twitter")
          i.icon-twitter
        a(class="round-button round-button_with-shadow about-us-main__social-link" href="https://ua.linkedin.com/" alt="LinkedIn" aria-label="LinkedIn")
          i.icon-linkedin
    div(class="about-us-main__contact-column about-us-main__contact-column_center")
      i(class="icon-phone about-us-main__icon")
      a(class="link link_ff-poppins link_20-px link_c-black-2 about-us-main__text-medium" href="tel:+38 (098) 66 03 20" alt="+38 (098) 66 03 20") +38 (098) 66 03 20
    div(class="about-us-main__contact-column about-us-main__contact-column_right")
      i(class="icon-mark about-us-main__icon")
      p(class="text text_ff-poppins text_20-px text_c-black-2 about-us-main__text-medium") м. Львів,<br>вул. Шевченка, 31а
        
