<!DOCTYPE html>
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Magic Wood Map
  body
    include ../../blocks/header/_header
    include ../../blocks/main-nav/_main-nav
    include ../../blocks/bag-and-wishlist-menu/_bag-and-wishlist
    include ../../blocks/main-slider/_main-slider
    include ../../blocks/advantages/_advantages
    include ../../blocks/fashionable-solution/_fashionable-solution
    include ../../blocks/categories/_categories
    include ../../blocks/reviews/_reviews
    include ../../blocks/subscribe/_subscribe
    include ../../blocks/about-us/_about-us
    include ../../blocks/footer/_footer