section(class="reviews container")
  p(class="section-name reviews__section-name") відгуки
  h2(class="title reviews__title") Ми цінуємо наших клієнтів
  .reviews__content 
    .reviews__text-block 
      p(class="text reviews__text") Головним прагненням нашої команди є задоволеність клієнта від співпраці із нашою командою
      button(class="button reviews__button") Замовити
    .reviews__slider-small-container
      .reviews__slider-small-button-block
        button(class="reviews__slider-button" id="slider-small-prev")
          i.icon-chevron-left
        button(class="reviews__slider-button" id="slider-small-next")
          i.icon-chevron-right
      .reviews__slider-small-wrapper
        .reviews__slider-small-slide
          img(class="reviews__slide-small-img" src="../../blocks/reviews/images/map_1.png", alt="Дерев'яна мапа")
          p(class="title title_23-px reviews__title-23-px") Одношарова мапа
          p(class="reviews__slide-small-text") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.
          .reviews__slider-small-author-block 
            img(class="reviews__author-avatar" src="../../blocks/reviews/images/avatar_1.png", alt="Автор коментаря")
            p(class="reviews__author-name") Андрій
            p(class="reviews__comment-date") 20.12.2020
        .reviews__slider-small-slide
          img(class="reviews__slide-small-img" src="../../blocks/reviews/images/map_2.png", alt="Дерев'яна мапа")
          p(class="title title_23-px reviews__title-23-px") Багатошарова мапа
          p(class="reviews__slide-small-text") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.
          .reviews__slider-small-author-block 
            img(class="reviews__author-avatar" src="../../blocks/reviews/images/avatar_2.png", alt="Автор коментаря")
            p(class="reviews__author-name") Наталя
            p(class="reviews__comment-date") 23.12.2020
        .reviews__slider-small-slide
          img(class="reviews__slide-small-img" src="../../blocks/reviews/images/map_1.png", alt="Дерев'яна мапа")
          p(class="title title_23-px reviews__title-23-px") Багатошарова мапа
          p(class="reviews__slide-small-text") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.
          .reviews__slider-small-author-block 
            img(class="reviews__author-avatar" src="../../blocks/reviews/images/avatar_1.png", alt="Автор коментаря")
            p(class="reviews__author-name") Олексій
            p(class="reviews__comment-date") 24.12.2020
    .reviews__slider-big
      .reviews__slider-big-container
        .reviews__big-slider-counter
          span.reviews__current-slide-number
          |/
          span.reviews__total-slide-number 
        .reviews__slider-big-button-block 
          button(class="reviews__slider-button" id="slider-big-prev")
            i.icon-chevron-left
          button(class="reviews__slider-button" id="slider-big-next")
            i.icon-chevron-right
        .reviews__slider-big-wrapper 
          .reviews__slider-big-slide
            img(class="reviews__slider-big-img" src="../../blocks/reviews/images/map_3.png", alt="Дерев'яна мапа")
            .reviews__slider-big-text-block
              .reviews__slider-big-stars-block
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star reviews__slider-big-star")
              p(class="reviews__slider-big-orange-text") Хіт продажу
              p(class="reviews__slider-big-title") Багатошарова мапа
              p(class="reviews__slider-big-text") Багатошарова мапа світу буде чудовим подарунком на день народження рідних, річницю родичів, новосілля друзів. Вишукане доповнення декору абсолютно будь-якого приміщення. Рельєфна дерев'яна мапа світу буде привертати увагу всіх своїм стилем і якістю опрацювання
              button(class="button button_transparent reviews__slider-big-button") Замовити →
          .reviews__slider-big-slide
            img(class="reviews__slider-big-img" src="../../blocks/reviews/images/map_3.png", alt="Дерев'яна мапа")
            .reviews__slider-big-text-block
              .reviews__slider-big-stars-block
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star reviews__slider-big-star")
              p(class="reviews__slider-big-orange-text") Хіт продажу
              p(class="reviews__slider-big-title") Багатошарова мапа
              p(class="reviews__slider-big-text") Багатошарова мапа світу буде чудовим подарунком на день народження рідних, річницю родичів, новосілля друзів. Вишукане доповнення декору абсолютно будь-якого приміщення. Рельєфна дерев'яна мапа світу буде привертати увагу всіх своїм стилем і якістю опрацювання
              button(class="button button_transparent reviews__slider-big-button") Замовити →
          .reviews__slider-big-slide
            img(class="reviews__slider-big-img" src="../../blocks/reviews/images/map_3.png", alt="Дерев'яна мапа")
            .reviews__slider-big-text-block
              .reviews__slider-big-stars-block
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star reviews__slider-big-star")
              p(class="reviews__slider-big-orange-text") Хіт продажу
              p(class="reviews__slider-big-title") Багатошарова мапа
              p(class="reviews__slider-big-text") Багатошарова мапа світу буде чудовим подарунком на день народження рідних, річницю родичів, новосілля друзів. Вишукане доповнення декору абсолютно будь-якого приміщення. Рельєфна дерев'яна мапа світу буде привертати увагу всіх своїм стилем і якістю опрацювання
              button(class="button button_transparent reviews__slider-big-button") Замовити →
          .reviews__slider-big-slide
            img(class="reviews__slider-big-img" src="../../blocks/reviews/images/map_3.png", alt="Дерев'яна мапа")
            .reviews__slider-big-text-block
              .reviews__slider-big-stars-block
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star reviews__slider-big-star")
              p(class="reviews__slider-big-orange-text") Хіт продажу
              p(class="reviews__slider-big-title") Багатошарова мапа
              p(class="reviews__slider-big-text") Багатошарова мапа світу буде чудовим подарунком на день народження рідних, річницю родичів, новосілля друзів. Вишукане доповнення декору абсолютно будь-якого приміщення. Рельєфна дерев'яна мапа світу буде привертати увагу всіх своїм стилем і якістю опрацювання
              button(class="button button_transparent reviews__slider-big-button") Замовити →
          .reviews__slider-big-slide
            img(class="reviews__slider-big-img" src="../../blocks/reviews/images/map_3.png", alt="Дерев'яна мапа")
            .reviews__slider-big-text-block
              .reviews__slider-big-stars-block
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star-filled reviews__slider-big-star")
                i(class="icon-star reviews__slider-big-star")
              p(class="reviews__slider-big-orange-text") Хіт продажу
              p(class="reviews__slider-big-title") Багатошарова мапа
              p(class="reviews__slider-big-text") Багатошарова мапа світу буде чудовим подарунком на день народження рідних, річницю родичів, новосілля друзів. Вишукане доповнення декору абсолютно будь-якого приміщення. Рельєфна дерев'яна мапа світу буде привертати увагу всіх своїм стилем і якістю опрацювання
              button(class="button button_transparent reviews__slider-big-button") Замовити →
          