section(class="breadcrumbs container")
  h2(class="title title_36-px title_c-black breadcrumbs__title") Про нашу команду
  .breadcrumbs__links-block 
    a(class="link link_ff-montserrat link_16-px link_fw-500 link_c-grey-4 breadcrumbs__link" href="#" alt="Головна") Головна
    a(class="link link_ff-montserrat link_16-px link_fw-500 link_c-grey-4 breadcrumbs__link" href="#" alt="Про нас") Про нас