aricle(class="fashionable-solution container")
  .fashionable-solution__content 
    p(class="section-name fashionable-solution__section-name") стильне рішення
    h2(class="title title_c-black fashionable-solution__title") Входимо у топ компаній по продажам карт
    p(class="text text_18-px text_c-grey-3 fashionable-solution__text") Дерев'яна карта світу здатна гармонійно вписатися в дизайн вашої кімнати і стати тим самим елементом, що бракує, у створенні унікального стилю. Залиште свій номер телефону і ми передзвонимо Вам найближчим часом
    img(class="fashionable-solution__mobile-img" src="../../blocks/fashionable-solution/images/map.png" alt="Дерев'яна мапа України")
    form.fashionable-solution__form 
      input(class="input fashionable-solution__input" type="tel" placeholder="Залиште Ваш номер телефону" name="tel")
      button(class="button fashionable-solution__button" type="submit") Надіслати
  img(class="fashionable-solution__img" src="../../blocks/fashionable-solution/images/map.png" alt="Дерев'яна мапа України")