aricle(class="fashionable-solution container")
  .fashionable-solution__content 
    p(class="section-name fashionable-solution__section-name") стильне рішення
    h2(class="title title_c-black fashionable-solution__title") Входимо у топ компаній по продажам карт
    p(class="text text_18-px text_c-grey-3 fashionable-solution__text") Дерев'яна карта світу здатна гармонійно вписатися в дизайн вашої кімнати і стати тим самим елементом, що бракує, у створенні унікального стилю. Залиште свій номер телефону і ми передзвонимо Вам найближчим часом
    .fashionable-solution__input-wrapper 
      input(class="input input_white fashionable-solution__input_white" type="tel" placeholder="Залиште Ваш номер телефону" name="tel")
      button(class="button fashionable-solution__button") Надіслати
  img(class="fashionable-solution__img" src="../../blocks/fashionable-solution/images/map.png" alt="Дерев'яна мапа України")