article(class="categories container")
  a(class="categories__link-button categories__link-button_1" href="#" alt="Одношарові мапи")
  a(class="categories__link-button categories__link-button_2" href="#" alt="Ознайомтеся з нашими найкращими категоріями")
    span Ознайомтеся з нашими найкращими 
      span.categories__red-word категоріями
  a(class="categories__link-button categories__link-button_3" href="#" alt="Додатки до мап")
  a(class="categories__link-button categories__link-button_4" href="#" alt="Багатошарові мапи")
  a(class="categories__link-button categories__link-button_5" href="#" alt="Мапи з підсвічуванням")
  a(class="categories__link-button categories__link-button_6" href="#" alt="Додаткова категорія")