main(class="main-bag container")
  .main-bag__product-table
    .main-bag__product-table-column-titles
      p(class="title title_20-px title_c-black main-bag__product-table-column-title") Назва товару
      p(class="title title_20-px title_c-black main-bag__product-table-column-title") Ціна
      p(class="title title_20-px title_c-black main-bag__product-table-column-title") Кількість
      p(class="title title_20-px title_c-black main-bag__product-table-column-title") Всього
    .main-bag__product-table-cards 
      .main-bag__product-table-card 
        button(class="main-bag__delete-card-button") +
        .main-bag__card-desc-block 
          a(class="main-bag__img-link" href="#" alt="Дерев'яна мапа")
            img(class="main-bag__card-img" src="../../blocks/main-bag/images/map_1.png" alt="Дерев'яна мапа")
          a(class="link link_ff-poppins link_14-px link_fw-600 link_c-black-1 main-bag__card-link") Одношарова мапа
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Розмір мапи: M: 100х60см
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Тип мапи: Prime 
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Мова мапи: Українська
        .main-bag__card-price-block
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-price") 3200  ₴
          p(class="text text_poppins text_14-px text_fw-600 text_c-grey-12 main-bag__card-old-price") 4000  ₴
        .main-bag__card-amount-block 
          .main-bag__card-amount-buttons 
            button(class="main-bag__card-amount-button") -
            .main-bag__card-amount-display 1
            button(class="main-bag__card-amount-button") +
        .main-bag__card-total-price-block 
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-total-price") 3200  ₴
      .main-bag__product-table-card 
        button(class="main-bag__delete-card-button") +
        .main-bag__card-desc-block 
          a(class="main-bag__img-link" href="#" alt="Дерев'яна мапа")
            img(class="main-bag__card-img" src="../../blocks/main-bag/images/map_2.png" alt="Дерев'яна мапа")
          a(class="link link_ff-poppins link_14-px link_fw-600 link_c-black-1 main-bag__card-link") Одношарова мапа
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Розмір мапи: M: 100х60см
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Тип мапи: Prime 
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Мова мапи: Українська
        .main-bag__card-price-block
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-price") 3200  ₴
          p(class="text text_poppins text_14-px text_fw-600 text_c-grey-12 main-bag__card-old-price") 4000  ₴
        .main-bag__card-amount-block 
          .main-bag__card-amount-buttons 
            button(class="main-bag__card-amount-button") -
            .main-bag__card-amount-display 1
            button(class="main-bag__card-amount-button") +
        .main-bag__card-total-price-block 
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-total-price") 3200  ₴
      .main-bag__product-table-card
        button(class="main-bag__delete-card-button") +
        .main-bag__card-desc-block 
          a(class="main-bag__img-link" href="#" alt="Дерев'яна мапа")
            img(class="main-bag__card-img" src="../../blocks/main-bag/images/map_3.png" alt="Дерев'яна мапа")
          a(class="link link_ff-poppins link_14-px link_fw-600 link_c-black-1 main-bag__card-link") Одношарова мапа
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Розмір мапи: M: 100х60см
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Тип мапи: Prime 
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Мова мапи: Українська
        .main-bag__card-price-block
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-price") 3200  ₴
          p(class="text text_poppins text_14-px text_fw-600 text_c-grey-12 main-bag__card-old-price") 4000  ₴
        .main-bag__card-amount-block 
          .main-bag__card-amount-buttons 
            button(class="main-bag__card-amount-button") -
            .main-bag__card-amount-display 1
            button(class="main-bag__card-amount-button") +
        .main-bag__card-total-price-block 
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-total-price") 3200  ₴
      .main-bag__product-table-card
        button(class="main-bag__delete-card-button") +
        .main-bag__card-desc-block 
          a(class="main-bag__img-link" href="#" alt="Дерев'яна мапа")
            img(class="main-bag__card-img" src="../../blocks/main-bag/images/map_4.png" alt="Дерев'яна мапа")
          a(class="link link_ff-poppins link_14-px link_fw-600 link_c-black-1 main-bag__card-link") Одношарова мапа
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Розмір мапи: M: 100х60см
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Тип мапи: Prime 
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Мова мапи: Українська
        .main-bag__card-price-block
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-price") 3200  ₴
          p(class="text text_poppins text_14-px text_fw-600 text_c-grey-12 main-bag__card-old-price") 4000  ₴
        .main-bag__card-amount-block 
          .main-bag__card-amount-buttons 
            button(class="main-bag__card-amount-button") -
            .main-bag__card-amount-display 1
            button(class="main-bag__card-amount-button") +
        .main-bag__card-total-price-block 
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-total-price") 3200  ₴
      .main-bag__product-table-card
        button(class="main-bag__delete-card-button") +
        .main-bag__card-desc-block 
          a(class="main-bag__img-link" href="#" alt="Дерев'яна мапа")
            img(class="main-bag__card-img" src="../../blocks/main-bag/images/map_5.png" alt="Дерев'яна мапа")
          a(class="link link_ff-poppins link_14-px link_fw-600 link_c-black-1 main-bag__card-link") Одношарова мапа
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Розмір мапи: M: 100х60см
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Тип мапи: Prime 
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Мова мапи: Українська
        .main-bag__card-price-block
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-price") 3200  ₴
          p(class="text text_poppins text_14-px text_fw-600 text_c-grey-12 main-bag__card-old-price") 4000  ₴
        .main-bag__card-amount-block 
          .main-bag__card-amount-buttons 
            button(class="main-bag__card-amount-button") -
            .main-bag__card-amount-display 1
            button(class="main-bag__card-amount-button") +
        .main-bag__card-total-price-block 
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-total-price") 3200  ₴
      .main-bag__product-table-card
        button(class="main-bag__delete-card-button") +
        .main-bag__card-desc-block 
          a(class="main-bag__img-link" href="#" alt="Дерев'яна мапа")
            img(class="main-bag__card-img" src="../../blocks/main-bag/images/map_6.png" alt="Дерев'яна мапа")
          a(class="link link_ff-poppins link_14-px link_fw-600 link_c-black-1 main-bag__card-link") Одношарова мапа
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Розмір мапи: M: 100х60см
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Тип мапи: Prime 
          p(class="text text_ff-poppins text_12-px text_fw-600 text_c-grey-16 main-bag__card-text") Мова мапи: Українська
        .main-bag__card-price-block
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-price") 3200  ₴
          p(class="text text_poppins text_14-px text_fw-600 text_c-grey-12 main-bag__card-old-price") 4000  ₴
        .main-bag__card-amount-block 
          .main-bag__card-amount-buttons 
            button(class="main-bag__card-amount-button") -
            .main-bag__card-amount-display 1
            button(class="main-bag__card-amount-button") +
        .main-bag__card-total-price-block 
          p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__card-total-price") 3200  ₴
  .main-bag__button-block
    a(class="button main-bag__button" href="#" alt="На головну") На головну
    button(class="button main-bag__button") Очистити
  .main-bag__form-block
    form(class="main-bag__form")
      p(class="text text_18-px text_fw-600 text_c-black-1 main-bag__form-title") Спосіб оплати
      span(class="main-bag__grey-line")
      button(class="main-bag__payment-method-checkbox")
        i(class="icon-check main-bag__check-icon")
        | Безготівковий розрахунок
      button(class="main-bag__payment-method-checkbox")
        i(class="icon-check main-bag__check-icon")
        | Накладений платіж
    form(class="main-bag__form")
      p(class="text text_18-px text_fw-600 text_c-black-1 main-bag__form-title") Ваші дані
      span(class="main-bag__grey-line")
      label(class="text text_ff-poppins text_14-px text_fw-500 text_c-grey-10 main-bag__label" for="input-name") Ім’я*
      input(class="input main-bag__input" id="input-name" type="text" name="name")
      label(class="text text_ff-poppins text_14-px text_fw-500 text_c-grey-10 main-bag__label" for="input-tel") Контактний телефон*
      input(class="input main-bag__input" id="input-tel" type="tel" name="tel")
      label(class="text text_ff-poppins text_14-px text_fw-500 text_c-grey-10 main-bag__label" for="input-email") Електронна пошта*
      input(class="input main-bag__input" id="input-email" type="email" name="email")
      button(class="main-bag__subscribe-button")
        i(class="icon-check main-bag__check-icon")
        | Надсилати ексклюзивні пропозиції в SMS-розсилці від Magic Woods Maps
  .main-bag__order-form-block 
    p(class="title title_20-px title_c-black main-bag__product-table-column-title") До cплати
    form(class="main-bag__form")
      .main-bag__order-form-total-price-block 
        p(class="text text_18-px text_fw-600 text_c-black-1 main-bag__form-title") Сума сплати
        p(class="text text_poppins text_14-px text_fw-600 text_c-orange main-bag__order-form-total-price") 5000  ₴
      span(class="main-bag__grey-line")
      .main-bag__order-form-desc-block
        p(class="text text_fw-500 text_c-grey main-bag__order-form-text") Товари, 1 шт.
        p(class="text text_fw-500 text_c-grey main-bag__order-form-price-without-discount") 7000 ₴
        p(class="text text_fw-500 text_c-grey main-bag__order-form-text") Знижка
        p(class="text text_fw-500 text_c-grey main-bag__order-form-discount-price") 2000 ₴
      button(class="button main-bag__button main-bag__button_big") Замовити
      button(class="main-bag__subscribe-button")
          i(class="icon-check main-bag__check-icon")
          | Згоден з умовами Правил користування тогрівельним майданчиком та правилами повернення