main(class="payment-and-delivery container")
  .payment-and-delivery__content-block
    .payment-and-delivery__title-block 
      span(class="payment-and-delivery__grey-line")
      h2(class="title title_fw-400 title_c-black payment-and-delivery__title") Доставка
      span(class="payment-and-delivery__grey-line")
    .payment-and-delivery__text-blocks 
      .payment-and-delivery__text-block 
        h3(class="title title_28-px payment-and-delivery__subtitle") Виготовлення виробів із фанери
        p(class="text text_18-px text_c-grey-3 payment-and-delivery__text") Як тільки ви знайдете те, що шукаєте, ми гарантуємо швидке оформлення замовлення та доставку. Перевірте ваш вибір сьогодні!
      .payment-and-delivery__text-block 
        h3(class="title title_28-px payment-and-delivery__subtitle") Входимо у топ компаній з продажу мап
        p(class="text text_18-px text_c-grey-3 payment-and-delivery__text") Дерев'яна мапа світу здатна гармонійно вписатися в дизайн вашої кімнати і стати тим самим елементом, що бракує, у створенні унікального стилю. Залиште свій номер телефону і ми передзвонимо Вам найближчим часом.
  .payment-and-delivery__content-block
    .payment-and-delivery__title-block 
      span(class="payment-and-delivery__grey-line")
      h2(class="title title_fw-400 title_c-black payment-and-delivery__title") Оплата
      span(class="payment-and-delivery__grey-line")
    .payment-and-delivery__text-blocks 
      .payment-and-delivery__text-block 
        h3(class="title title_28-px payment-and-delivery__subtitle") Виготовлення виробів із фанери
        p(class="text text_18-px text_c-grey-3 payment-and-delivery__text") Як тільки ви знайдете те, що шукаєте, ми гарантуємо швидке оформлення замовлення та доставку. Перевірте ваш вибір сьогодні!
      .payment-and-delivery__text-block 
        h3(class="title title_28-px payment-and-delivery__subtitle") Входимо у топ компаній з продажу мап
        p(class="text text_18-px text_c-grey-3 payment-and-delivery__text") Дерев'яна мапа світу здатна гармонійно вписатися в дизайн вашої кімнати і стати тим самим елементом, що бракує, у створенні унікального стилю. Залиште свій номер телефону і ми передзвонимо Вам найближчим часом.
      