article(class="subscribe container")
  h2(class="title subscribe__title") Підпишіться на нашу розсилку
  p(class="subscribe__text") Залиште електронну адресу, для того щоб першим отримувати інформацію про оновлення нашої продукції
  .subscribe__input-block 
    input(class="subscribe__input" type="email" placeholder="Ваш e-mail")
    button(class="subscribe__button") Надіслати