article(class="subscribe container")
  h4(class="title title_c-black-1 subscribe__title") Підпишіться на нашу розсилку
  p(class="text text_ff-inter text_20-px text_c-grey-7 subscribe__text" id="subscribe-input-label") Залиште електронну адресу, для того щоб першим отримувати інформацію про оновлення нашої продукції
  form(class="subscribe__form" novalidate)
    input(class="input subscribe__input" type="email" placeholder="Ваш e-mail" name="email" required aria-required="true" aria-labelledby="subscribe-input-label")
    button(class="subscribe__button" type="submit") Надіслати