<!DOCTYPE html>
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Оплата та доставка
    include ../../blocks/preload/_preload 
  body
    include ../../blocks/header/_header
    include ../../blocks/main-nav/_main-nav
    include ../../blocks/breadcrumbs/_breadcrumbs
    +breadcrumbs("Оплата та доставка")
    include ../../blocks/bag-and-wishlist-menu/_bag-and-wishlist
    include ../../blocks/payment-and-delivery-main/_payment-and-delivery-main
    include ../../blocks/call-back-form/_call-back-form
    include ../../blocks/footer/_footer