main(class="product-desc container")
  .product-desc__checkout-and-images-block
    .product-desc__img-slider
      .product-desc__img-slider-container
        .product-desc__img-slider-wrapper
          .product-desc__img-slider-slide
            img(class="product-desc__img-slider-img" src="../../blocks/product-desc/images/img_1.png" alt="Family is sitting on the sofa with wooden map behind them on the wall")
          .product-desc__img-slider-slide
            img(class="product-desc__img-slider-img" src="../../blocks/product-desc/images/img_2.png" alt="Wooden map")
          .product-desc__img-slider-slide
            img(class="product-desc__img-slider-img" src="../../blocks/product-desc/images/img_3.png" alt="Wooden map")
          .product-desc__img-slider-slide
            img(class="product-desc__img-slider-img" src="../../blocks/product-desc/images/img_4.png" alt="Wooden map")
      button(class="round-button round-button_with-shadow round-button_medium product-desc__img-slider-button-prev")
        i.icon-chevron-left
      button(class="round-button round-button_with-shadow round-button_medium product-desc__img-slider-button-next")
        i.icon-chevron-right
      .product-desc__img-slider-pagination-block
    .product-desc__checkout-block
      div(class="product-desc__rate-block product-desc__rate-block_mobile")
        .product-desc__rate-star-block-mobile
        p(class="text text_ff-poppins text_18-px text_c-blue product-desc__review-amount") 6 відгуків
      h1(class="title title_36-px title_fw-500 title_c-black product-desc__title") Одношарова мапа
      p(class="text text_ff-poppins text_c-grey-15 product-desc__vendor-code") Модель: 3DMBL
      form(class="product-desc__checkout-form")
        p(class="title title_16-px title_fw-400 title_c-black product-desc__button-title") Розмір мапи
        .product-desc__button-block 
          button(class="button product-desc__filter-button product-desc__filter-button_active") М: 100х60см
          button(class="button product-desc__filter-button") L: 150х90см
          button(class="button product-desc__filter-button") XL: 200х120см
        p(class="title title_16-px title_fw-400 title_c-black product-desc__button-title") Тип мапи
        .product-desc__button-block 
          button(class="button product-desc__filter-button product-desc__filter-button_active") Prime
          button(class="button product-desc__filter-button") Prime planes
          button(class="button product-desc__filter-button") Prime flags
        p(class="title title_16-px title_fw-400 title_c-black product-desc__button-title") Мова гравіювання
        .product-desc__button-block 
          button(class="button product-desc__filter-button product-desc__filter-button_active") Українська
          button(class="button product-desc__filter-button") Англійська
      .product-desc__price-block
        p(class="title title_28-px title_fw-400 title_c-orange product-desc__current-price") 1 000 ₴
        p(class="title title_24-px title_fw-400 title_c-grey product-desc__old-price") 2 000 ₴ 
      button(class="product-desc__discount-notificate-button") Сповістити про знижки
      .product-desc__checkout-button-block
        button(class="button product-desc__checkout-button") Додати в кошик
        button(class="button button_transparent product-desc__checkout-button") Купити в 1 клік
        button(class="round-button round-button_with-shadow round-button_medium product-desc__favourite-button")
          i.icon-like
      .product-desc__payment-methods-block 
        img(class="product-desc__payment-method-img" src="../../blocks/product-desc/images/mastercard.svg" alt="Mastercard")
        img(class="product-desc__payment-method-img" src="../../blocks/product-desc/images/visa.svg" alt="Visa")
        img(class="product-desc__payment-method-img" src="../../blocks/product-desc/images/gpay.svg" alt="Google Pay")
        img(class="product-desc__payment-method-img" src="../../blocks/product-desc/images/applepay.svg" alt="Apple Pay")
      button(class="product-desc__leave-comment-button") Написати відгук
    .product-desc__rate-block
      .product-desc__rate-star-block
      p(class="text text_ff-poppins text_18-px text_c-blue product-desc__review-amount") 6 відгуків
