main(class="catalog container")
  .catalog__amount-and-select-block
    button(class="catalog__open-filters-button") Відкрити фільтр
    p(class="text text_12-px text_c-grey-13 catalog__amount") Всього позицій:
      span(id='card-amount')
    .catalog__select-block
      p(class="text text_14-px text_c-black-1 catalog__select-name") Сортувати:
      .catalog__select
        button(class="catalog__select-chosen-block")
          p(class="catalog__select-chosen-text") 
          i(class="icon-chevron-left catalog__select-chosen-icon")
        .catalog__select-button-block 
          button(class="catalog__select-button" data-select-type="default") За замовчуванням
          button(class="catalog__select-button" data-select-type="name-A-Z") За назвою (А - Я)
          button(class="catalog__select-button" data-select-type="name-Z-A") За назвою (Я - А)
          button(class="catalog__select-button" data-select-type="price-down") За ціною (зменшення)
          button(class="catalog__select-button" data-select-type="price-up") За ціною (зростання)
          button(class="catalog__select-button" data-select-type="rate-down") За рейтингом (зменшення)
          button(class="catalog__select-button" data-select-type="rate-up") За рейтингом (зростання)
  .catalog__filter-and-card-block 
    .catalog__filter-blocks
      p(class='title title_30-px catalog__filter-title') Фільтр
      button(class="close-button catalog__filter-close-button") +
      .catalog__filter-block 
        p(class="text text_ff-poppins text_20-px text_fw-500 text_c-black-1 catalog__filter-name") Категорія
        span.catalog__line
        div(class="catalog__checkbox-block" data-checkbox-name="categories")
          button(class="catalog__checkbox-button" data-checkbox-value="Одношарові мапи")
            i(class="icon-check catalog__checkbox-icon")
            | Одношарові мапи
          button(class="catalog__checkbox-button" data-checkbox-value="Багатошарові мапи")
            i(class="icon-check catalog__checkbox-icon")
            | Багатошарові мапи
          button(class="catalog__checkbox-button" data-checkbox-value="Мапи з підсвічуванням")
            i(class="icon-check catalog__checkbox-icon")
            | Мапи з підсвічуванням
          button(class="catalog__checkbox-button" data-checkbox-value="Додатки до мап")
            i(class="icon-check catalog__checkbox-icon")
            | Додатки до мап
      .catalog__filter-block 
        p(class="text text_ff-poppins text_20-px text_fw-500 text_c-black-1 catalog__filter-name") Акції
        span.catalog__line
        div(class="catalog__checkbox-block" data-checkbox-name="discount")
          button(class="catalog__checkbox-button" data-checkbox-value="5")
            i(class="icon-check catalog__checkbox-icon")
            | Знижка 5%
          button(class="catalog__checkbox-button" data-checkbox-value="10")
            i(class="icon-check catalog__checkbox-icon")
            | Знижка 10%
          button(class="catalog__checkbox-button" data-checkbox-value="20")
            i(class="icon-check catalog__checkbox-icon")
            | Знижка 20%
      .catalog__filter-block 
        p(class="text text_ff-poppins text_20-px text_fw-500 text_c-black-1 catalog__filter-name") Ціновий діапазон
        span.catalog__line
        div(class="catalog__range-block")
          .catalog__range-line-block
            button(class="catalog__range-button" id="range-btn-min")
            span(class="catalog__range-line")
            button(class="catalog__range-button" id="range-btn-max")
          .catalog__range-input-block
            input(class="input catalog__range-input" id="range-input-min" type="number" min="" max="" value="")
            input(class="input catalog__range-input" id="range-input-max" type="number" min="" max="" value="")
    .catalog__card-block
    .catalog__pagination-block
      button(class="round-button round-button_with-shadow round-button_small catalog__pagination-round-button" id="pagination-prev")
        i.icon-chevron-left
      .catalog__pagination-buttons
      button(class="round-button round-button_with-shadow round-button_small catalog__pagination-round-button" id="pagination-next")
        i.icon-chevron-right