main(class="catalog container")
  .catalog__option-form-popup-window 
    form(class="catalog__option-form")
      button(class="close-button catalog__option-form-close-button") +
      p(class="title title_16-px title_fw-400 title_c-black catalog__button-title") Розмір мапи
      div(class="catalog__button-block" data-size-buttons)
        button(class="button catalog__filter-button" data-size-button="M") М: 100х60см
        button(class="button catalog__filter-button" data-size-button="L") L: 150х90см
        button(class="button catalog__filter-button" data-size-button="XL") XL: 200х120см
      p(class="title title_16-px title_fw-400 title_c-black catalog__button-title") Тип мапи
      div(class="catalog__button-block" data-type-buttons) 
        button(class="button catalog__filter-button" data-type-button="Prime") Prime
        button(class="button catalog__filter-button" data-type-button="Prime planes") Prime planes
        button(class="button catalog__filter-button" data-type-button="Prime flags") Prime flags
      p(class="title title_16-px title_fw-400 title_c-black catalog__button-title") Мова гравіювання
      div(class="catalog__button-block" data-lang-buttons) 
        button(class="button catalog__filter-button" data-lang-button="ukr") Українська
        button(class="button catalog__filter-button" data-lang-button="en") Англійська
      .catalog__price-block
        p(class="title title_28-px title_fw-400 title_c-orange catalog__current-price" data-current-price)
        p(class="title title_24-px title_fw-400 title_c-grey catalog__old-price" data-old-price) 
      .catalog__amount-block
        button(class="catalog__amount-button catalog__amount-button_left" data-amount-button="minus") -
        .catalog__amount-display
        button(class="catalog__amount-button catalog__amount-button_right" data-amount-button="plus") +
      .catalog__total-price-block 
        p(class="title title_24-px title_fw-400 title_c-black") Загальна ціна:
        p(class="title title_28-px title_fw-400 title_c-orange catalog__total-price" data-total-price)
      .catalog__checkout-button-block
        button(class="button catalog__checkout-button" data-button-bag-add) Додати в кошик
  .catalog__amount-and-select-block
    button(class="catalog__open-filters-button") Відкрити фільтр
    p(class="text text_12-px text_c-grey-13 catalog__amount") Всього позицій:
      span(id='card-amount')
    .catalog__select-block
      p(class="text text_14-px text_c-black-1 catalog__select-name") Сортувати:
      .catalog__select
        button(class="catalog__select-chosen-block")
          p(class="catalog__select-chosen-text") 
          i(class="icon-chevron-left catalog__select-chosen-icon")
        .catalog__select-button-block 
          button(class="catalog__select-button" data-select-type="default") За замовчуванням
          button(class="catalog__select-button" data-select-type="name-A-Z") За назвою (А - Я)
          button(class="catalog__select-button" data-select-type="name-Z-A") За назвою (Я - А)
          button(class="catalog__select-button" data-select-type="price-down") За ціною (зменшення)
          button(class="catalog__select-button" data-select-type="price-up") За ціною (зростання)
          button(class="catalog__select-button" data-select-type="rate-down") За рейтингом (зменшення)
          button(class="catalog__select-button" data-select-type="rate-up") За рейтингом (зростання)
  .catalog__filter-and-card-block 
    .catalog__filter-blocks
      p(class='title title_30-px catalog__filter-title') Фільтр
      button(class="close-button catalog__filter-close-button") +
      .catalog__filter-block 
        p(class="text text_ff-poppins text_20-px text_fw-500 text_c-black-1 catalog__filter-name") Категорія
        span.catalog__line
        div(class="catalog__checkbox-block" data-checkbox-name="categories")
          button(class="catalog__checkbox-button" data-checkbox-value="Одношарові мапи")
            i(class="icon-check catalog__checkbox-icon")
            | Одношарові мапи
          button(class="catalog__checkbox-button" data-checkbox-value="Багатошарові мапи")
            i(class="icon-check catalog__checkbox-icon")
            | Багатошарові мапи
          button(class="catalog__checkbox-button" data-checkbox-value="Мапи з підсвічуванням")
            i(class="icon-check catalog__checkbox-icon")
            | Мапи з підсвічуванням
          button(class="catalog__checkbox-button" data-checkbox-value="Додатки до мап")
            i(class="icon-check catalog__checkbox-icon")
            | Додатки до мап
      .catalog__filter-block 
        p(class="text text_ff-poppins text_20-px text_fw-500 text_c-black-1 catalog__filter-name") Акції
        span.catalog__line
        div(class="catalog__checkbox-block" data-checkbox-name="discount")
          button(class="catalog__checkbox-button" data-checkbox-value="5")
            i(class="icon-check catalog__checkbox-icon")
            | Знижка 5%
          button(class="catalog__checkbox-button" data-checkbox-value="10")
            i(class="icon-check catalog__checkbox-icon")
            | Знижка 10%
          button(class="catalog__checkbox-button" data-checkbox-value="20")
            i(class="icon-check catalog__checkbox-icon")
            | Знижка 20%
      .catalog__filter-block 
        p(class="text text_ff-poppins text_20-px text_fw-500 text_c-black-1 catalog__filter-name") Ціновий діапазон
        span.catalog__line
        div(class="catalog__range-block")
          .catalog__range-line-block
            button(class="catalog__range-button" id="range-btn-min")
            span(class="catalog__range-line")
            button(class="catalog__range-button" id="range-btn-max")
          .catalog__range-input-block
            input(class="input catalog__range-input" id="range-input-min" type="number" min="" max="" value="")
            input(class="input catalog__range-input" id="range-input-max" type="number" min="" max="" value="")
    .catalog__card-block
    .catalog__pagination-block
      button(class="round-button round-button_with-shadow round-button_small catalog__pagination-round-button" id="pagination-prev")
        i.icon-chevron-left
      .catalog__pagination-buttons
      button(class="round-button round-button_with-shadow round-button_small catalog__pagination-round-button" id="pagination-next")
        i.icon-chevron-right