html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Про нашу команду
  body
    include ../../blocks/header/_header
    include ../../blocks/main-nav/_main-nav
    include ../../blocks/breadcrumbs/_breadcrumbs
    include ../../blocks/about-us-main/_about-us-main
    include ../../blocks/call-back-form/call-back-form
    include ../../blocks/footer/_footer