main(class="faq-main container")
  .faq-main__title-block
    span(Class="faq-main__grey-line")
    h2(class="title title_fw-400 title_c-black faq-main__title") FAQ
    span(Class="faq-main__grey-line")
  div(class="faq-main__content-blocks" role="tablist" aria-multiselectable="true" aria-orientation="vertical")
    .faq-main__content-block
      .faq-main__button-block
        button(class="faq-main__big-toggle-button" data-toggle-button)
          p(class="text text_24-px text_fw-500 text_c-black-1 faq-main__subtitle") З якого матеріалу зроблена мапа?
        button(class="faq-main__toggle-button" data-toggle-button)
          i(class="icon-chevron-left faq-main__button-icon")
      p(class="text text_18-px text_c-grey faq-main__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repudiandae voluptate ipsum quidem facilis, nisi quod iure placeat quo voluptatum iusto illum minima impedit expedita aspernatur, possimus laborum vero unde!Quis accusantium, esse illum doloribus, quo numquam eaque aperiam, corporis optio quisquam magni magnam quos corrupti repellendus. Dolore officiis perferendis omnis distinctio unde temporibus beatae, ratione nemo, tenetur, odio modi!
    .faq-main__content-block
      .faq-main__button-block
        button(class="faq-main__big-toggle-button" data-toggle-button)
          p(class="text text_24-px text_fw-500 text_c-black-1 faq-main__subtitle") Як буде упакована мапа?
        button(class="faq-main__toggle-button" data-toggle-button)
          i(class="icon-chevron-left faq-main__button-icon")
      p(class="text text_18-px text_c-grey faq-main__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repudiandae voluptate ipsum quidem facilis, nisi quod iure placeat quo voluptatum iusto illum minima impedit expedita aspernatur, possimus laborum vero unde!Quis accusantium, esse illum doloribus, quo numquam eaque aperiam, corporis optio quisquam magni magnam quos corrupti repellendus. Dolore officiis perferendis omnis distinctio unde temporibus beatae, ratione nemo, tenetur, odio modi!
    .faq-main__content-block
      .faq-main__button-block
        button(class="faq-main__big-toggle-button" data-toggle-button)
          p(class="text text_24-px text_fw-500 text_c-black-1 faq-main__subtitle") Як можна оплатити замовлення?
        button(class="faq-main__toggle-button" data-toggle-button)
          i(class="icon-chevron-left faq-main__button-icon")
      p(class="text text_18-px text_c-grey faq-main__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repudiandae voluptate ipsum quidem facilis, nisi quod iure placeat quo voluptatum iusto illum minima impedit expedita aspernatur, possimus laborum vero unde!Quis accusantium, esse illum doloribus, quo numquam eaque aperiam, corporis optio quisquam magni magnam quos corrupti repellendus. Dolore officiis perferendis omnis distinctio unde temporibus beatae, ratione nemo, tenetur, odio modi!
    .faq-main__content-block
      .faq-main__button-block
        button(class="faq-main__big-toggle-button" data-toggle-button)
          p(class="text text_24-px text_fw-500 text_c-black-1 faq-main__subtitle") На що кріпиться мапа?
        button(class="faq-main__toggle-button" data-toggle-button)
          i(class="icon-chevron-left faq-main__button-icon")
      p(class="text text_18-px text_c-grey faq-main__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repudiandae voluptate ipsum quidem facilis, nisi quod iure placeat quo voluptatum iusto illum minima impedit expedita aspernatur, possimus laborum vero unde!Quis accusantium, esse illum doloribus, quo numquam eaque aperiam, corporis optio quisquam magni magnam quos corrupti repellendus. Dolore officiis perferendis omnis distinctio unde temporibus beatae, ratione nemo, tenetur, odio modi!
    .faq-main__content-block
      .faq-main__button-block
        button(class="faq-main__big-toggle-button" data-toggle-button)
          p(class="text text_24-px text_fw-500 text_c-black-1 faq-main__subtitle") Чи всі покриття стін підходять для поклейки мапи?
        button(class="faq-main__toggle-button" data-toggle-button)
          i(class="icon-chevron-left faq-main__button-icon")
      p(class="text text_18-px text_c-grey faq-main__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repudiandae voluptate ipsum quidem facilis, nisi quod iure placeat quo voluptatum iusto illum minima impedit expedita aspernatur, possimus laborum vero unde!Quis accusantium, esse illum doloribus, quo numquam eaque aperiam, corporis optio quisquam magni magnam quos corrupti repellendus. Dolore officiis perferendis omnis distinctio unde temporibus beatae, ratione nemo, tenetur, odio modi!
    .faq-main__content-block
      .faq-main__button-block
        button(class="faq-main__big-toggle-button" data-toggle-button)
          p(class="text text_24-px text_fw-500 text_c-black-1 faq-main__subtitle") Установка мапи входить у вартість замовлення?
        button(class="faq-main__toggle-button" data-toggle-button)
          i(class="icon-chevron-left faq-main__button-icon")
      p(class="text text_18-px text_c-grey faq-main__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repudiandae voluptate ipsum quidem facilis, nisi quod iure placeat quo voluptatum iusto illum minima impedit expedita aspernatur, possimus laborum vero unde!Quis accusantium, esse illum doloribus, quo numquam eaque aperiam, corporis optio quisquam magni magnam quos corrupti repellendus. Dolore officiis perferendis omnis distinctio unde temporibus beatae, ratione nemo, tenetur, odio modi!