.button {
  border: none;
  border-radius: 10px;
  background-color: $orange;
  color: $white;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
  line-height: normal;
  transition: all .05s ease-in-out;

  &:hover, &:focus {
    border: 2px solid $orange;
    background-color: $white;
    color: $orange;
    outline: none;
  }

  &:active {
    border-color: $orange-active;
    background-color: $white-active;
    color: $orange-active;
  }

  &_transparent {
    border: 1px solid $orange;
    border-radius: 7px;
    background-color: transparent;
    color: $orange;

    &:hover, &:focus {
      background-color: $orange;
      color: $white;
    }

    &:active {
      border-color: $orange-active;
      background-color: $orange-active;
      color: $white-active;
    }
  }
}