.button {
  border: solid 2px rgb(237 85 59);
  border-radius: 10px;
  background-color: rgb(237 85 59);
  color: rgb(255 255 255);
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
  line-height: normal;
  transition: all .05s ease-in-out;

  &:hover,
  &:focus {
    border: 2px solid rgb(237 85 59);
    background-color: rgb(255 255 255);
    color: rgb(237 85 59);
    outline: none;
  }

  &:active {
    border-color: rgb(217 65 39);
    background-color: rgb(221 221 221);
    color: rgb(217 65 39);
  }

  &_transparent {
    border: 1px solid rgb(237 85 59);
    border-radius: 7px;
    background-color: transparent;
    color: rgb(237 85 59);

    &:hover,
    &:focus {
      border: 1px solid rgb(237 85 59);
      background-color: rgb(237 85 59);
      color: rgb(255 255 255);
    }

    &:active {
      border-color: rgb(217 65 39);
      background-color: rgb(217 65 39);
      color: rgb(221 221 221);
    }
  }
}