.input {
  border-color: transparent;
  transition: all .05s ease-in-out;

  &:hover, &:focus {
    outline: none;
  }

  /* stylelint-disable-next-line order/order */
  &:focus::placeholder {
    color: transparent;
  }

  &_invalid {
    border: 1px solid rgb(255 107 107);

    &::placeholder {
      color: rgb(255 107 107);
    }
  }
}

.input-error-block {
  margin-top: 10px;
  color: rgb(255 107 107);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 1.289px;
  line-height: 18px;
}