.light-text {
  color: $light-grey;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px;

  &_bigger {
    color: rgb(88 88 88 / 70%);
    font-size: 18px;
    line-height: 32px;
  }
}