- var main = 'https://alexhrabovyi.github.io/magicwoodmap/dist/main.html';
- var aboutUs = 'https://alexhrabovyi.github.io/magicwoodmap/dist/about-us.html';
- var bagPage = 'https://alexhrabovyi.github.io/magicwoodmap/dist/bag-page.html';
- var blogPage = 'https://alexhrabovyi.github.io/magicwoodmap/dist/blog-page.html';
- var catalog = 'https://alexhrabovyi.github.io/magicwoodmap/dist/catalog.html';
- var categories = 'https://alexhrabovyi.github.io/magicwoodmap/dist/categories.html';
- var faq = 'https://alexhrabovyi.github.io/magicwoodmap/dist/faq.html';
- var ourBlog = 'https://alexhrabovyi.github.io/magicwoodmap/dist/our-blog.html';
- var paymentAndDelivery = 'https://alexhrabovyi.github.io/magicwoodmap/dist/payment-and-delivery.html';
- var productPage = 'https://alexhrabovyi.github.io/magicwoodmap/dist/product-page.html';