.round-button {
  @include flex-builder(row, center, center);

  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: rgb(237 85 59);
  color: rgb(255 255 255);
  font-size: 26px;
  text-decoration: none;
  transition: all .05s ease-in-out;

  &:hover,
  &:focus {
    border: 1px solid rgb(237 85 59);
    background-color: rgb(255 255 255);
    color: rgb(237 85 59);
    outline: none;
  }

  &:active {
    border-color: rgb(217 65 39);
    background-color: rgb(221 221 221);
    color: rgb(217 65 39);
  }
}