.round-button {
  display: flex;
  width: 49px;
  height: 49px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $orange;
  color: $white;
  font-size: 26px;
  text-decoration: none;
  transition: all .05s ease-in-out;

  &:hover, &:focus {
    border: 1px solid $orange;
    background-color: $white;
    color: $orange;
    outline: none;
  }

  &:active {
    border-color: $orange-active;
    background-color: $white-active;
    color: $orange-active;
  }
}