.round-button {
  @include flex-builder(row, center, center);

  width: 49px;
  height: 49px;
  border: none;
  border-radius: 50%;
  background-color: rgb(237 85 59);
  color: rgb(255 255 255);
  font-size: 26px;
  text-decoration: none;
  transition: all .05s ease-in-out;

  @include media-l {
    width: 45px;
    height: 45px;
    font-size: 24px;
  }

  @include media-m {
    width: 42px;
    height: 42px;
    font-size: 22px;
  }

  &:hover,
  &:focus {
    border: 1px solid rgb(237 85 59);
    background-color: rgb(255 255 255);
    color: rgb(237 85 59);
    outline: none;
  }

  &:active {
    border-color: rgb(217 65 39);
    background-color: rgb(221 221 221);
    color: rgb(217 65 39);
  }

  &_with-shadow {
    width: 50px;
    height: 50px;
    background-color: rgb(255 255 255);
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 15%);
    color: rgb(237 85 59 / 100%);
    font-size: 19px;

    &:hover, &:focus {
      border: none;
      box-shadow: 0 4px 14px 0 rgb(0 0 0 / 30%);
      outline:  none;
    }

    @include media-xs {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }

  &_inactive {
    border: 1px solid rgb(237 85 59);
    background-color: rgb(255 255 255);
    color: rgb(237 85 59);

    &:hover,
    &:focus {
      border: 1px solid rgb(237 85 59);
      background-color: rgb(237 85 59);
      color: rgb(255 255 255);
      outline: none;
    }

    &:active {
      border-color: rgb(217 65 39);
      background-color: rgb(217 65 39);
      color: rgb(221 221 221);
    }
  }

  &_small {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  &_big {
    width: 55px;
    height: 55px;

    @include media-s {
      width: 50px;
      height: 50px;
    }

    @include media-xs {
      width: 45px;
      height: 45px;
    }
  }
}