.section-name {
  position: relative;
  padding-left: 45px;
  color: rgb(237 85 59);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.4px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 33px;
    height: 2px;
    background-color: rgb(237 85 59);
    content: "";
    transform: translateY(-50%);
  }
}