.text {
  color: $dark-grey;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;

  &_20-px {
    color: rgb(143 143 143);
    font-size: 20px; 
    letter-spacing: 0.2px;
    line-height: 150%;
  }

  &_18-px {
    color: rgb(88 88 88 / 70%);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  &_16-px {
    color: $light-grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
  }
}