.title {
  color: rgb(0 0 0 / 100%);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;

  @include media-l {
    font-size: 36px;
  }

  @include media-m {
    font-size: 34px;
  }

  @include media-s {
    font-size: 30px;
  }

  @include media-xs {
    font-size: 26px;
  }

  &_ff-inter {
    font-family: Inter, sans-serif;
  }

  &_ff-montserrat {
    font-family: Montserrat, sans-serif;
  }

  &_16-px {
    font-size: 16px;
  }

  &_20-px {
    font-size: 20px;

    @include media-xs {
      font-size: 18px;
    }
  }

  &_22-px {
    font-size: 22px;
  }

  &_23-px {
    font-size: 23px;
  }

  &_24-px {
    font-size: 24px;
  }

  &_26-px {
    font-size: 26px;

    @include media-m {
      font-size: 24px;
    }

    @include media-s {
      font-size: 22px;
    }

    @include media-xs {
      font-size: 20px;
    }
  }

  &_28-px {
    font-size: 28px;
  }

  &_30-px {
    font-size: 30px;

    @include media-m {
      font-size: 28px;
    }

    @include media-s {
      font-size: 26px;
    }

    @include media-xs {
      font-size: 24px;
    }
  }

  &_32-px {
    font-size: 32px;
  }

  &_36-px {
    font-size: 36px;

    @include media-m {
      font-size: 32px;
    }

    @include media-s {
      font-size: 28px;
    }

    @include media-xs {
      font-size: 24px;
    }
  }

  &_60-px {
    font-size: 60px;

    @include media-l {
      font-size: 56px;
    }

    @include media-m {
      font-size: 48px;
    }

    @include media-s {
      font-size: 44px;
    }

    @include media-xs {
      font-size: 38px;
    }
  }

  &_fw-400 {
    font-weight: 400;
  }

  &_fw-500 {
    font-weight: 500;
  }

  &_tt-uppercase {
    text-transform: uppercase;
  }

  &_c-black {
    color: rgb(31 31 31 / 100%);
  }

  &_c-black-1 {
    color: rgb(17 17 17 / 100%);
  }
}