<!DOCTYPE html>
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Сторінка блога
    include ../../blocks/preload/_preload
  body
    include ../../blocks/header/_header
    include ../../blocks/main-nav/_main-nav
    include ../../blocks/breadcrumbs/_breadcrumbs
    +breadcrumbs("Сторінка блога")
    include ../../blocks/bag-and-wishlist-menu/_bag-and-wishlist
    include ../../blocks/blog-article/_blog-article
    include ../../blocks/call-back-form/_call-back-form
    include ../../blocks/footer/_footer