div(class="bag-and-wishlist-menu bag-menu")
  button(class="close-button bag-and-wishlist-menu__close-button" data-button-bag-close) +
  p(class="title title_30-px title_fw-400 bag-and-wishlist-menu__title") Кошик
  .bag-and-wishlist-menu__card-block 
  .bag-and-wishlist-menu__total-price-block 
div(class="bag-and-wishlist-menu wishlist-menu")
  button(class="close-button bag-and-wishlist-menu__close-button" data-button-wishlist-close) +
  p(class="title title_30-px title_fw-400 bag-and-wishlist-menu__title") Лист бажань
  .bag-and-wishlist-menu__card-block 
.bag-and-wishlist-menu__option-form-popup-window 
  form(class="bag-and-wishlist-menu__option-form" data-bag-option-form)
    button(class="close-button bag-and-wishlist-menu__option-form-close-button") +
    p(class="title title_16-px title_fw-400 title_c-black bag-and-wishlist-menu__button-title") Розмір мапи
    div(class="bag-and-wishlist-menu__option-form-button-block")
      button(class="button bag-and-wishlist-menu__filter-button" data-size-button="M") М: 100х60см
      button(class="button bag-and-wishlist-menu__filter-button" data-size-button="L") L: 150х90см
      button(class="button bag-and-wishlist-menu__filter-button" data-size-button="XL") XL: 200х120см
    p(class="title title_16-px title_fw-400 title_c-black bag-and-wishlist-menu__button-title") Тип мапи
    div(class="bag-and-wishlist-menu__option-form-button-block") 
      button(class="button bag-and-wishlist-menu__filter-button" data-type-button="Prime") Prime
      button(class="button bag-and-wishlist-menu__filter-button" data-type-button="Prime planes") Prime planes
      button(class="button bag-and-wishlist-menu__filter-button" data-type-button="Prime flags") Prime flags
    p(class="title title_16-px title_fw-400 title_c-black bag-and-wishlist-menu__button-title") Мова гравіювання
    div(class="bag-and-wishlist-menu__option-form-button-block") 
      button(class="button bag-and-wishlist-menu__filter-button" data-lang-button="ukr") Українська
      button(class="button bag-and-wishlist-menu__filter-button" data-lang-button="en") Англійська
    .bag-and-wishlist-menu__price-block
      p(class="title title_28-px title_fw-400 title_c-orange bag-and-wishlist-menu__current-price" data-current-price)
      p(class="title title_24-px title_fw-400 title_c-grey bag-and-wishlist-menu__old-price" data-old-price) 
    .bag-and-wishlist-menu__amount-block
      button(class="bag-and-wishlist-menu__amount-button bag-and-wishlist-menu__amount-button_left" data-amount-button="minus") -
      .bag-and-wishlist-menu__amount-display
      button(class="bag-and-wishlist-menu__amount-button bag-and-wishlist-menu__amount-button_right" data-amount-button="plus") +
    .bag-and-wishlist-menu__option-form-total-price-block 
      p(class="title title_24-px title_fw-400 title_c-black") Загальна ціна:
      p(class="title title_28-px title_fw-400 title_c-orange bag-and-wishlist-menu__total-price" data-total-price)
    .bag-and-wishlist-menu__checkout-button-block
      button(class="button bag-and-wishlist-menu__checkout-button" data-button-bag-add) Додати в кошик
 
