div(class="bag-and-wishlist-menu bag-menu")
  button(class="close-button bag-and-wishlist-menu__close-button" data-button-bag-close) +
  p(class="title title_30-px title_fw-400 bag-and-wishlist-menu__title") Кошик
  .bag-and-wishlist-menu__card-block 
  .bag-and-wishlist-menu__total-price-block 
div(class="bag-and-wishlist-menu wishlist-menu")
  button(class="close-button bag-and-wishlist-menu__close-button" data-button-wishlist-close) +
  p(class="title title_30-px title_fw-400 bag-and-wishlist-menu__title") Лист бажань
  .bag-and-wishlist-menu__card-block 
 
