.bag-and-wishlist-menu {
  width: 50%;
  max-width: 400px;
  padding: 50px 30px 50px 20px;
  background: rgb(255 255 255);

  @include media-l {
    max-width: 350px;
  }

  @include media-m {
    max-width: 300px;
  }

  @include media-s {
    width: 100%;
  }

  @include media-xs {
    max-width: 100%;
  }

  &__close-button {
    position: absolute;
    top: 5px;
    right: 20px;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__card-block  {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr;

    @include media-xs {
      justify-content: center;
      grid-template-columns: 80%;
    }
  }

  &__card {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(225 225 228 / 100%);

    @include flex-builder(column, none, none);
  }

  &__card-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  &__card-title-link {
    margin-bottom: 10px;
  }

  &__card-params  {
    display: grid;
    margin-bottom: 15px;
    gap: 7px;
    grid-template-columns: 1fr;
  }

  &__options-button {
    width: 150px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;
  }

  &__amount-and-price-block  {
    display: grid;
    justify-content: space-between;
    margin-bottom: 25px;
    grid-template-columns: auto auto;
    row-gap: 15px;
  }

  &__button-block {
    @include flex-builder(row, space-between, center);

    gap: 20px;
  }

  &__bag-button {
    width: 100%;
    max-width: 200px;
    height: 45px;
    font-size: 18px;
    text-decoration: none;

    @include flex-builder(row, center, center);
  }

  &__delete-button {
    width: 100%;
    max-width: 100px;
    height: 45px;
    font-size: 18px;

    @include flex-builder(row, center, center);
  }

  &__total-price-block {
    margin-top: 30px;

    @include flex-builder(row, space-between, center);
  }

  &__round-button-selected {
    background-color: rgb(237 85 59);
    color: rgb(255 255 255);

    &:hover {
      background-color: rgb(237 85 59);
      color: rgb(255 255 255);
    }
  }

  &__option-form {
    position: relative;
    display: grid;
    padding: 60px 30px 20px;
    border-radius: 20px;
    background: rgb(255 255 255);
    gap: 15px;
    grid-template-columns: 1fr;

    @include media-xs {
      padding: 60px 10px 20px;
    }
  }

  &__option-form-close-button {
    position: absolute;
    top: 5px;
    right: 20px;
  }

  &__option-form-button-block {
    @include flex-builder(row, none, center);

    gap: 15px;

    @include media-m {
      gap: 3%;
    }

    @include media-xs {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__filter-button {
    height: 40px;
    padding: 0 17px;
    border: solid 1px transparent;
    border-radius: 5px;
    background: rgb(255 255 255);
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
    color: rgb(31 31 31 / 100%);
    font-size: 14px;

    @include flex-builder(row, center, center);

    @include media-xs {
      width: 100%;
    }

    @include media-xs {
      height: 50px;
      padding: 5px 17px;
    }

    &:hover, &:focus {
      border: solid 1px rgb(237 85 59 / 100%);
      outline: none;
    }

    &_active {
      background: rgb(237 85 59 / 100%);
      color: rgb(255 255 255);

      &:hover {
        background: rgb(237 85 59 / 100%);
        color: rgb(255 255 255);
      }
    }
  }

  &__amount-block {
    @include flex-builder(row, none, center);

    height: 40px;
    gap: 2px;
  }

  &__amount-button {
    width: 40px;
    height: 100%;
    border: none;
    border: solid 2px rgb(237 85 59 / 100%);
    background: rgb(237 85 59 / 100%);
    color: rgb(255 255 255);
    font-size: 20px;
    transition: all .05s ease-in-out;

    &:hover, &:focus {
      background: rgb(255 255 255);
      color: rgb(237 85 59 / 100%);
    }

    &:active {
      border-color: rgb(217 65 39);
      background: rgb(217 65 39);
      color: rgb(221 221 221);
    }

    &_left {
      border-radius: 10px 0 0 10px;
    }

    &_right {
      border-radius: 0 10px 10px 0;
    }
  }

  &__amount-display {
    width: 60px;
    height: 100%;
    border: solid 2px rgb(237 85 59 / 100%);

    @include flex-builder(row, center, center);

    font-family: Poppins, sans-serif;
    font-size: 20px;
  }

  &__price-block {
    @include flex-builder(row, none, center);

    gap: 15px;

    @include media-xs {
      gap: 10px;
    }
  }

  &__old-price {
    text-decoration: line-through;
  }

  &__option-form-total-price-block {
    margin-top: 3%;

    @include flex-builder(row, none, center);

    gap: 20px;
  }

  &__checkout-button-block {
    margin-top: 8%;
    margin-bottom: 6.34%;

    @include media-s {
      margin-top: 25px;
      margin-bottom: 17px;
    }
  }

  &__checkout-button {
    height: 40px;
    padding: 0 18px;
    border: 1px solid;
    font-size: 16px;

    @include flex-builder(row, center, center);

    &:hover, &:focus {
      border: 1px solid;
    }

    @include media-xs {
      height: 50px;
      padding: 2px 18px;
      font-size: 14px;
    }
  }

  &__round-button-active {
    position: relative;

      &::before {
        position: absolute;
        right: -5px;
        bottom: -5px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(237 85 59);
        color: rgb(255 255 255);
        content: attr(data-product-amount);
        font-size: 14px;

        @include flex-builder(row, center, center);
      }
  }
}