div(class="bag-and-wishlist-menu bag-menu")
  button(class="close-button bag-and-wishlist-menu__close-button" data-button-bag-close) +
  p(class="title title_30-px title_fw-400 bag-and-wishlist-menu__title") Кошик
  .bag-and-wishlist-menu__card-block 
    .bag-and-wishlist-menu__card 
      img(class="bag-and-wishlist-menu__card-img" src="../../blocks/bag-and-wishlist-menu/images/map_1.png" alt="Дерев`яна мапа")
      a(class="link link_ff-poppins link_20-px link_fw-600 link_c-black-1 bag-and-wishlist-menu__card-title-link" href="#" alt="Багатошарова мапа світу") Багатошарова мапа світу
      .bag-and-wishlist-menu__card-params 
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-param") Розмір мапи: M: 100х60см
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-param") Тип мапи: Prime 
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-param") Мова гравіювання: Українська
      button(class="button button_transparent bag-and-wishlist-menu__options-button") Змінити опції
      .bag-and-wishlist-menu__amount-and-price-block 
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-name") Багатошарова мапа світу
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-amount") х 1
        p(class="text text_ff-poppins text_fw-600 bag-and-wishlist-menu__card-price-name") Сума
        p(class="text text_ff-poppins text_fw-600 bag-and-wishlist-menu__card-price") 2 780 ₴
        p(class="text text_ff-poppins text_fw-600 bag-and-wishlist-menu__card-total-price-name") Разом
        p(class="text text_ff-poppins text_fw-600 bag-and-wishlist-menu__card-total-price") 2 780 ₴
      a(class="button bag-and-wishlist-menu__bag-link") Перейти до кошику
    .bag-and-wishlist-menu__card 
      img(class="bag-and-wishlist-menu__card-img" src="../../blocks/bag-and-wishlist-menu/images/map_1.png" alt="Дерев`яна мапа")
      a(class="link link_ff-poppins link_20-px link_fw-600 link_c-black-1 bag-and-wishlist-menu__card-title-link" href="#" alt="Багатошарова мапа світу") Багатошарова мапа світу
      .bag-and-wishlist-menu__card-params 
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-param") Розмір мапи: M: 100х60см
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-param") Тип мапи: Prime 
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-param") Мова гравіювання: Українська
      button(class="button button_transparent bag-and-wishlist-menu__options-button") Змінити опції
      .bag-and-wishlist-menu__amount-and-price-block 
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-name") Багатошарова мапа світу
        p(class="text text_ff-poppins text_fw-300 bag-and-wishlist-menu__card-amount") х 1
        p(class="text text_ff-poppins text_fw-600 bag-and-wishlist-menu__card-price-name") Сума
        p(class="text text_ff-poppins text_fw-600 bag-and-wishlist-menu__card-price") 2 780 ₴
        p(class="text text_ff-poppins text_fw-600 bag-and-wishlist-menu__card-total-price-name") Разом
        p(class="text text_ff-poppins text_fw-600 bag-and-wishlist-menu__card-total-price") 2 780 ₴
      a(class="button bag-and-wishlist-menu__bag-link") Перейти до кошику
  .bag-and-wishlist-menu__total-price-block 
    p(class="text text_ff-poppins text_18-px text_fw-600 bag-and-wishlist-menu__total-price-name") Загальна ціна
    p(class="text text_ff-poppins text_18-px text_fw-600 bag-and-wishlist-menu__total-price") 2 780 ₴
div(class="bag-and-wishlist-menu wishlist-menu")
  button(class="close-button bag-and-wishlist-menu__close-button" data-button-wishlist-close) +
  p(class="title title_30-px title_fw-400 bag-and-wishlist-menu__title") Лист бажань
  .bag-and-wishlist-menu__card-block 
 
