section(class="advantages container")
  p(class="section-name advantages__section-name") переваги
  h2(class="title advantages__title") Виготовлення виробів із фанери
  .advantages__content-block
    p(class="text advantages__text") Як тільки ви знайдете те, що шукаєте, ми гарантуємо швидке оформлення замовлення та доставку. Перевірте ваш вибір сьогодні!
    div(class="advantages__card advantages__card_1")
      img(src="../../blocks/advantages/images/advantages_card_1.svg" alt="Коло у якому чотири квадратика")
      p(class="lead advantages__lead") Персоналізація
      p(class="light-text advantages__light-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
    div(class="advantages__card advantages__card_2")
      img(src="../../blocks/advantages/images/advantages_card_2.svg" alt="Лупа")
      p(class="lead advantages__lead") Увага до деталей
      p(class="light-text advantages__light-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
    div(class="advantages__card advantages__card_3")
      img(src="../../blocks/advantages/images/advantages_card_3.svg" alt="Дім")
      p(class="lead advantages__lead") Для будь-якого інтер’єру
      p(class="light-text advantages__light-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
    div(class="advantages__card advantages__card_4")
      img(src="../../blocks/advantages/images/advantages_card_4.svg" alt="Алмаз")
      p(class="lead advantages__lead") Висока якість матеріалів
      p(class="light-text advantages__light-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.