html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Кошик
  body
    include ../../blocks/header/_header
    include ../../blocks/main-nav/_main-nav
    include ../../blocks/breadcrumbs/_breadcrumbs
    +breadcrumbs("Кошик")
    include ../../blocks/bag-and-wishlist-menu/_bag-and-wishlist
    include ../../blocks/footer/_footer