section(class="about-us container")
  p(class="section-name about-us__section-name") про нас
  h4(class="title title_30-px title_c-black about-us__title") Magic Wood Maps
  .about-us__content 
    p(class="text text_24-px text_c-grey-2 about-us__text") Головним прагненням нашої команди є задоволеність клієнта від співпраці із нашою командою.<br><br>Головним прагненням нашої команди є задоволеність клієнта від співпраці із нашою командою.<br><br>Головним прагненням нашої команди є задоволеність клієнта від співпраці із нашою командою. 
    noscript(class="loading-lazy")
      iframe(class="about-us__iframe-video" loading="lazy" src="https://www.youtube.com/embed/hWmVHUKhGvc" title="Многослойная деревянная карта мира с led подсветкой" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)