section(class="about-us container")
  p(class="section-name about-us__section-name") про нас
  h2(class="title title_30-px about-us__title") Magic Wood Maps
  .about-us__content 
    p(class="text about-us__text") Головним прагненням нашої команди є задоволеність клієнта від співпраці із нашою командою.<br><br>Головним прагненням нашої команди є задоволеність клієнта від співпраці із нашою командою.<br><br>Головним прагненням нашої команди є задоволеність клієнта від співпраці із нашою командою. 
    iframe(class="about-us__iframe-video" src="https://www.youtube.com/embed/hWmVHUKhGvc" title="Многослойная деревянная карта мира с led подсветкой" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
  