.about-us {
  padding-top: 150px;
  padding-bottom: 150px;

  &__title {
    margin-bottom: 50px;
    line-height: 170%;
  }

  &__content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 481px 720px;
  }

  &__text {
    line-height: 180%;
  }

  &__iframe-video {
    width: 720px;
    height: 450px;
  }
}