.main-slider {
  width: 100%;
  padding-top: 81px;
  padding-bottom: 206px;
  background: linear-gradient(47deg, rgb(111 58 27 / 7%) 0%, rgb(255 255 255 / 0%) 100%);

  &__slide_1 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
  }

  &__text-content-block {
    width: 650px;
  }

  &__title {
    margin-bottom: 10px;
    letter-spacing: -1.2px;
    line-height: 145%;
  }

  &__text {
    margin-bottom: 75px;
    letter-spacing: 0.2px;
    line-height: 150%;
  }

  &__button_transparent {
    @include flex-builder(row, center, center);

    width: 197px;
    height: 61px;
  }

  &__icon {
    margin-left: 13px;
  }

  &__img {
    width: 703px;
  }

  &__pagination-block {
    @include flex-builder(row, space-between, none);

    width: 145px;
    padding-left: 13px;
    margin-top: 33px;
  }

  &__pagination-button {
    position: relative;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 50%;
    background-color: rgb(190 190 190);
    cursor: pointer;
    transition: all .05s ease-in-out;

    &::before {
      position: absolute;
      top: -13.5px;
      left: -13.5px;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid rgb(237 85 59);
      border-radius: 50%;
      content: "";
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    &:hover, &:focus {
      background-color: rgb(237 85 59);
      outline: none;
    }

    &:active {
      background-color: rgb(217 65 39);
    }

    &_active {
      background-color: rgb(237 85 59);

      &::before {
        opacity: 1;
      }
      }
  }
}