main(class="main-slider container")
  .main-slider__slider-container 
    .main-slider__slider-wrapper 
      div(class="main-slider__slide main-slider__slide_1")
        .main-slider__text-content-block
          h2(class="title title_60-px main-slider__title_60-px") Унікальне ТП
          p(class="text text_20-px main-slider__text_20-px") Різні види карт з натурального дерева та додатків для них щоб відповідати потребам наших клієнтів. Для того, щоб наш декор був найкращим, ми співпрацюємо з кращими виробниками сировини та фарб у галузі.
          button(class="button button_transparent main-slider__button_transparent")
            p Читати ще
            i(class="icon-arrow-down main-slider__icon")
        img(class="main-slider__img" src="../../blocks/main-slider/images/world-map.png" alt="Дерев'яна мапа світу")
      div(class="main-slider__slide main-slider__slide_1")
        .main-slider__text-content-block
          h2(class="title title_60-px main-slider__title_60-px") TEST 1 
          p(class="text text_20-px main-slider__text_20-px") TEST 1 
          button(class="button button_transparent main-slider__button_transparent")
            p Читати ще
            i(class="icon-arrow-down main-slider__icon")
        img(class="main-slider__img" src="../../blocks/main-slider/images/world-map.png" alt="Дерев'яна мапа світу")
      div(class="main-slider__slide main-slider__slide_1")
        .main-slider__text-content-block
          h2(class="title title_60-px main-slider__title_60-px") TEST 2 
          p(class="text text_20-px main-slider__text_20-px") TEST 2
          button(class="button button_transparent main-slider__button_transparent")
            p Читати ще
            i(class="icon-arrow-down main-slider__icon")
        img(class="main-slider__img" src="../../blocks/main-slider/images/world-map.png" alt="Дерев'яна мапа світу")
      div(class="main-slider__slide main-slider__slide_1")
        .main-slider__text-content-block
          h2(class="title title_60-px main-slider__title_60-px") TEST 3 
          p(class="text text_20-px main-slider__text_20-px") TEST 3
          button(class="button button_transparent main-slider__button_transparent")
            p Читати ще
            i(class="icon-arrow-down main-slider__icon")
        img(class="main-slider__img" src="../../blocks/main-slider/images/world-map.png" alt="Дерев'яна мапа світу")
  .main-slider__pagination-block