.main-slider {
  padding-top: 81px;
  padding-bottom: 206px;
  background: linear-gradient(47deg, rgb(111 58 27 / 7%) 0%, rgb(255 255 255 / 0%) 100%);

  @include media-l {
    padding-top: 75px;
    padding-bottom: 120px;
  }

  @include media-m {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  @include media-s {
    padding-top: 65px;
    padding-bottom: 85px;
  }

  @include media-xs {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  &__slide_1 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 45.33% 49%;

    @include media-s {
      justify-content: center;
      grid-template-columns: 80%;
      row-gap: 20px;
    }

    @include media-xs {
      grid-template-columns: 100%;
    }
  }
  
  &__title {
    margin-bottom: 10px;
    letter-spacing: -1.2px;
    line-height: 145%;
  }

  &__text {
    margin-bottom: 75px;
    letter-spacing: 0.2px;
    line-height: 150%;

    @include media-l {
      margin-bottom: 60px;
    }

    @include media-m {
      margin-bottom: 40px;
    }

    @include media-xs {
      margin-bottom: 30px;
    }
  }

  &__button_transparent {
    @include flex-builder(row, center, center);

    width: 197px;
    height: 61px;

    @include media-xs {
      width: 170px;
      height: 55px;
      font-size: 20px;
    }
  }

  &__icon {
    margin-left: 13px;
  }

  &__img {
    width: 100%;

    @include media-s {
      order: -1;
    }
  }

  &__pagination-block {
    @include flex-builder(row, space-between, none);

    width: 145px;
    padding-left: 13px;
    margin-top: 33px;

    @include media-s {
      margin-left: 10%;
    }

    @include media-xs {
      margin-left: 0;
    }
  }

  &__pagination-button {
    position: relative;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 50%;
    background-color: rgb(190 190 190);
    cursor: pointer;
    transition: all .05s ease-in-out;

    &::before {
      position: absolute;
      top: -13.5px;
      left: -13.5px;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid rgb(237 85 59);
      border-radius: 50%;
      content: "";
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    &:hover, &:focus {
      background-color: rgb(237 85 59);
      outline: none;
    }

    &:active {
      background-color: rgb(217 65 39);
    }

    &_active {
      background-color: rgb(237 85 59);

      &::before {
        opacity: 1;
      }
      }
  }
}