main(class="main-slider container")
  .main-slider__slider-container 
    .main-slider__slider-wrapper 
      div(class="main-slider__slide main-slider__slide_1")
        .main-slider__text-content-block
          h1(class="title title_60-px title_c-black main-slider__title") Унікальне ТП
          p(class="text text_20-px text_fw-500 text_c-grey main-slider__text") Різні види карт з натурального дерева та додатків для них щоб відповідати потребам наших клієнтів. Для того, щоб наш декор був найкращим, ми співпрацюємо з кращими виробниками сировини та фарб у галузі.
          button(class="button button_transparent main-slider__button_transparent" data-button-read-below aria-label="Прокрутити сторінку до розділу 'Переваги'")
            p Читати ще
            i(class="icon-arrow-down main-slider__icon")
        picture
          source(type="image/webp" srcset="../../blocks/main-slider/images/world-map.webp")
          img(class="main-slider__img" src="../../blocks/main-slider/images/world-map.png" widht="703" height="352" alt="Дерев'яна мапа світу")
      div(class="main-slider__slide main-slider__slide_1")
        .main-slider__text-content-block
          h2(class="title title_60-px title_c-black main-slider__title") Lorem ipsum dolor
          p(class="text text_20-px text_fw-500 text_c-grey main-slider__text") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam aut porro autem ipsam alias voluptate ullam perspiciatis unde fugiat. 
          button(class="button button_transparent main-slider__button_transparent" data-button-read-below aria-label="Прокрутити сторінку до розділу 'Переваги'")
            p Читати ще
            i(class="icon-arrow-down main-slider__icon")
        noscript(class="loading-lazy")
          picture
            source(type="image/webp" srcset="../../blocks/main-slider/images/world-map.webp")
            img(class="main-slider__img" loading="lazy" src="../../blocks/main-slider/images/world-map.png" widht="703" height="352" alt="Дерев'яна мапа світу")
      div(class="main-slider__slide main-slider__slide_1")
        .main-slider__text-content-block
          h2(class="title title_60-px title_c-black main-slider__title") Lorem ipsum dolor 
          p(class="text text_20-px text_fw-500 text_c-grey main-slider__text") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam aut porro autem ipsam alias voluptate ullam perspiciatis unde fugiat. 
          button(class="button button_transparent main-slider__button_transparent" data-button-read-below aria-label="Прокрутити сторінку до розділу 'Переваги'")
            p Читати ще
            i(class="icon-arrow-down main-slider__icon")
        noscript(class="loading-lazy")
          picture
            source(type="image/webp" srcset="../../blocks/main-slider/images/world-map.webp")
            img(class="main-slider__img" loading="lazy" src="../../blocks/main-slider/images/world-map.png" widht="703" height="352" alt="Дерев'яна мапа світу")
      div(class="main-slider__slide main-slider__slide_1")
        .main-slider__text-content-block
          h2(class="title title_60-px title_c-black main-slider__title") Lorem ipsum dolor
          p(class="text text_20-px text_fw-500 text_c-grey main-slider__text") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam aut porro autem ipsam alias voluptate ullam perspiciatis unde fugiat. 
          button(class="button button_transparent main-slider__button_transparent" data-button-read-below aria-label="Прокрутити сторінку до розділу 'Переваги'")
            p Читати ще
            i(class="icon-arrow-down main-slider__icon")
        noscript(class="loading-lazy")
          picture
            source(type="image/webp" srcset="../../blocks/main-slider/images/world-map.webp")
            img(class="main-slider__img" loading="lazy" src="../../blocks/main-slider/images/world-map.png" widht="703" height="352" alt="Дерев'яна мапа світу")
  .main-slider__pagination-block