form(class="option-form")
  p(class="title title_16-px title_fw-400 title_c-black option-form__button-title") Розмір мапи
  .option-form__button-block 
    button(class="button option-form__filter-button option-form__filter-button_active") М: 100х60см
    button(class="button option-form__filter-button") L: 150х90см
    button(class="button option-form__filter-button") XL: 200х120см
  p(class="title title_16-px title_fw-400 title_c-black option-form__button-title") Тип мапи
  .option-form__button-block 
    button(class="button option-form__filter-button option-form__filter-button_active") Prime
    button(class="button option-form__filter-button") Prime planes
    button(class="button option-form__filter-button") Prime flags
  p(class="title title_16-px title_fw-400 title_c-black option-form__button-title") Мова гравіювання
  .option-form__button-block 
    button(class="button option-form__filter-button option-form__filter-button_active") Українська
    button(class="button option-form__filter-button") Англійська
  .option-form__price-block
    p(class="title title_28-px title_fw-400 title_c-orange option-form__current-price") 1 000 ₴
    p(class="title title_24-px title_fw-400 title_c-grey option-form__old-price") 2 000 ₴ 
    button(class="option-form__discount-notificate-button") Сповістити про знижки
  .option-form__checkout-button-block
    button(class="button option-form__checkout-button") Додати в кошик
    button(class="button button_transparent option-form__checkout-button") Купити в 1 клік
    button(class="round-button round-button_with-shadow round-button_medium option-form__favourite-button")
      i.icon-like