.option-form {
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: 1fr;

  &__button-block {
    @include flex-builder(row, none, center);

    gap: 15px;

    @include media-m {
      gap: 3%;
    }

    @include media-xs {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__filter-button {
    height: 40px;
    padding: 0 17px;
    border: solid 1px transparent;
    border-radius: 5px;
    background: rgb(255 255 255);
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 15%);
    color: rgb(31 31 31 / 100%);
    font-size: 14px;

    @include flex-builder(row, center, center);

    @include media-xs {
      width: 100%;
    }

    @include media-xs {
      height: 50px;
      padding: 5px 17px;
    }

    &:hover, &:focus {
      border: solid 1px rgb(237 85 59 / 100%);
      outline: none;
    }

    &_active {
      background: rgb(237 85 59 / 100%);
      color: rgb(255 255 255);
    }
  }

  &__price-block {
    @include flex-builder(row, none, center);

    gap: 15px;

    @include media-xs {
      gap: 10px;
    }
  }

  &__old-price {
    text-decoration: line-through;
  }

  &__discount-notificate-button {
    border: none;
    background: none;
    color: rgb(155 155 155);
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    grid-column: 1/3;
    text-align: start;
    text-decoration: underline;
    transition: all .05s ease-in-out;

    &:hover, &:focus {
      color: rgb(117 117 117);
    }
  }

  &__checkout-button-block {
    margin-top: 14.26%;
    margin-bottom: 6.34%;

    @include flex-builder(row, none, center);

    gap: 15px;

    @include media-m {
      gap: 3%;
    }

    @include media-s {
      margin-top: 25px;
      margin-bottom: 17px;
    }

    @include media-xs {
      display: grid;
      gap: 2%;
      grid-template-columns: 1fr 1fr auto;
    }
  }

  &__checkout-button {
    height: 40px;
    padding: 0 18px;
    border: 1px solid;
    font-size: 16px;

    @include flex-builder(row, center, center);

    &:hover, &:focus {
      border: 1px solid;
    }

    @include media-xs {
      height: 50px;
      padding: 2px 18px;
      font-size: 14px;
    }
  }
}