$orange: rgb(237 85 59);
$orange-active: rgb(217 65 39);
$black: rgb(0 0 0);
$light-black: rgb(31 31 31);
$dark-grey: rgb(88 88 88);
$light-grey: rgb(26 11 91 / 30%);
$white: rgb(255 255 255);
$white-active: rgb(221 221 221);
$invalid: rgb(255 107 107);
$invalid-active: rgb(235 87 87);