// Poppins 

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Poppins/poppins-extralight.eot');
  src: url('../assets/fonts/Poppins/poppins-extralight.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Poppins/poppins-extralight.woff2') format('woff2'),
       url('../assets/fonts/Poppins/poppins-extralight.woff') format('woff'),
       url('../assets/fonts/Poppins/poppins-extralight.ttf') format('truetype'),
       url('../assets/fonts/Poppins/poppins-extralight.svg#poppinsextralight') format('svg');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Poppins/poppins-light.eot');
  src: url('../assets/fonts/Poppins/poppins-light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Poppins/poppins-light.woff2') format('woff2'),
       url('../assets/fonts/Poppins/poppins-light.woff') format('woff'),
       url('../assets/fonts/Poppins/poppins-light.ttf') format('truetype'),
       url('../assets/fonts/Poppins/poppins-light.svg#poppinslight') format('svg');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Poppins/poppins-regular.eot');
  src: url('../assets/fonts/Poppins/poppins-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Poppins/poppins-regular.woff2') format('woff2'),
       url('../assets/fonts/Poppins/poppins-regular.woff') format('woff'),
       url('../assets/fonts/Poppins/poppins-regular.ttf') format('truetype'),
       url('../assets/fonts/Poppins/poppins-regular.svg#poppinsregular') format('svg');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Poppins/poppins-medium.eot');
  src: url('../assets/fonts/Poppins/poppins-medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Poppins/poppins-medium.woff2') format('woff2'),
       url('../assets/fonts/Poppins/poppins-medium.woff') format('woff'),
       url('../assets/fonts/Poppins/poppins-medium.ttf') format('truetype'),
       url('../assets/fonts/Poppins/poppins-medium.svg#poppinsmedium') format('svg');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Poppins/poppins-semibold.eot');
  src: url('../assets/fonts/Poppins/poppins-semibold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Poppins/poppins-semibold.woff2') format('woff2'),
       url('../assets/fonts/Poppins/poppins-semibold.woff') format('woff'),
       url('../assets/fonts/Poppins/poppins-semibold.ttf') format('truetype'),
       url('../assets/fonts/Poppins/poppins-semibold.svg#poppinssemibold') format('svg');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Poppins/poppins-bold.eot');
  src: url('../assets/fonts/Poppins/poppins-bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Poppins/poppins-bold.woff2') format('woff2'),
       url('../assets/fonts/Poppins/poppins-bold.woff') format('woff'),
       url('../assets/fonts/Poppins/poppins-bold.ttf') format('truetype'),
       url('../assets/fonts/Poppins/poppins-bold.svg#poppinsbold') format('svg');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Poppins/poppins-extrabold.eot');
  src: url('../assets/fonts/Poppins/poppins-extrabold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Poppins/poppins-extrabold.woff2') format('woff2'),
       url('../assets/fonts/Poppins/poppins-extrabold.woff') format('woff'),
       url('../assets/fonts/Poppins/poppins-extrabold.ttf') format('truetype'),
       url('../assets/fonts/Poppins/poppins-extrabold.svg#poppinsextrabold') format('svg');
}

@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/Poppins/poppins-italic.eot');
  src: url('../assets/fonts/Poppins/poppins-italic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Poppins/poppins-italic.woff2') format('woff2'),
       url('../assets/fonts/Poppins/poppins-italic.woff') format('woff'),
       url('../assets/fonts/Poppins/poppins-italic.ttf') format('truetype'),
       url('../assets/fonts/Poppins/poppins-italic.svg#poppinsitalic') format('svg');
}

// Roboto Medium

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Roboto/roboto-medium.eot');
  src: url('../assets/fonts/Roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Roboto/roboto-medium.woff2') format('woff2'),
       url('../assets/fonts/Roboto/roboto-medium.woff') format('woff'),
       url('../assets/fonts/Roboto/roboto-medium.ttf') format('truetype'),
       url('../assets/fonts/Roboto/roboto-medium.svg#robotomedium') format('svg');
}

// Montserrat

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Montserrat/montserrat-light.eot');
  src: url('../assets/fonts/Montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Montserrat/montserrat-light.woff2') format('woff2'),
       url('../assets/fonts/Montserrat/montserrat-light.woff') format('woff'),
       url('../assets/fonts/Montserrat/montserrat-light.ttf') format('truetype'),
       url('../assets/fonts/Montserrat/montserrat-light.svg#montserratlight') format('svg');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Montserrat/montserrat-regular.eot');
  src: url('../assets/fonts/Montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Montserrat/montserrat-regular.woff2') format('woff2'),
       url('../assets/fonts/Montserrat/montserrat-regular.woff') format('woff'),
       url('../assets/fonts/Montserrat/montserrat-regular.ttf') format('truetype'),
       url('../assets/fonts/Montserrat/montserrat-regular.svg#montserratregular') format('svg');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Montserrat/montserrat-medium.eot');
  src: url('../assets/fonts/Montserrat/montserrat-medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Montserrat/montserrat-medium.woff2') format('woff2'),
       url('../assets/fonts/Montserrat/montserrat-medium.woff') format('woff'),
       url('../assets/fonts/Montserrat/montserrat-medium.ttf') format('truetype'),
       url('../assets/fonts/Montserrat/montserrat-medium.svg#montserratmedium') format('svg');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Montserrat/montserrat-semibold.eot');
  src: url('../assets/fonts/Montserrat/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Montserrat/montserrat-semibold.woff2') format('woff2'),
       url('../assets/fonts/Montserrat/montserrat-semibold.woff') format('woff'),
       url('../assets/fonts/Montserrat/montserrat-semibold.ttf') format('truetype'),
       url('../assets/fonts/Montserrat/montserrat-semibold.svg#montserratsemibold') format('svg');
}

// Lato

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Lato/lato-regular.eot');
  src: url('../assets/fonts/Lato/lato-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Lato/lato-regular.woff2') format('woff2'),
       url('../assets/fonts/Lato/lato-regular.woff') format('woff'),
       url('../assets/fonts/Lato/lato-regular.ttf') format('truetype'),
       url('../assets/fonts/Lato/lato-regular.svg#latoregular') format('svg');
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Lato/lato-bold.eot');
  src: url('../assets/fonts/Lato/lato-bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Lato/lato-bold.woff2') format('woff2'),
       url('../assets/fonts/Lato/lato-bold.woff') format('woff'),
       url('../assets/fonts/Lato/lato-bold.ttf') format('truetype'),
       url('../assets/fonts/Lato/lato-bold.svg#latobold') format('svg');
}

// Josefin Sans

@font-face {
  font-family: JosefinSans;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/JosefinSans/josefin-sans-regular.eot');
  src: url('../assets/fonts/JosefinSans/josefin-sans-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/JosefinSans/josefin-sans-regular.woff2') format('woff2'),
       url('../assets/fonts/JosefinSans/josefin-sans-regular.woff') format('woff'),
       url('../assets/fonts/JosefinSans/josefin-sans-regular.ttf') format('truetype'),
       url('../assets/fonts/JosefinSans/josefin-sans-regular.svg#josefin_sansregular') format('svg');
}

@font-face {
  font-family: JosefinSans;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/JosefinSans/josefin-sans-bold.eot');
  src: url('../assets/fonts/JosefinSans/josefin-sans-bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/JosefinSans/josefin-sans-bold.woff2') format('woff2'),
       url('../assets/fonts/JosefinSans/josefin-sans-bold.woff') format('woff'),
       url('../assets/fonts/JosefinSans/josefin-sans-bold.ttf') format('truetype'),
       url('../assets/fonts/JosefinSans/josefin-sans-bold.svg#josefin_sansbold') format('svg');
}

// Inter 

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Inter/inter-regular.eot');
  src: url('../assets/fonts/Inter/inter-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Inter/inter-regular.woff2') format('woff2'),
       url('../assets/fonts/Inter/inter-regular.woff') format('woff'),
       url('../assets/fonts/Inter/inter-regular.ttf') format('truetype'),
       url('../assets/fonts/Inter/inter-regular.svg#interregular') format('svg');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Inter/inter-medium.eot');
  src: url('../assets/fonts/Inter/inter-medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Inter/inter-medium.woff2') format('woff2'),
       url('../assets/fonts/Inter/inter-medium.woff') format('woff'),
       url('../assets/fonts/Inter/inter-medium.ttf') format('truetype'),
       url('../assets/fonts/Inter/inter-medium.svg#intermedium') format('svg');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Inter/inter-semibold.eot');
  src: url('../assets/fonts/Inter/inter-semibold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Inter/inter-semibold.woff2') format('woff2'),
       url('../assets/fonts/Inter/inter-semibold.woff') format('woff'),
       url('../assets/fonts/Inter/inter-semibold.ttf') format('truetype'),
       url('../assets/fonts/Inter/inter-semibold.svg#intersemi_bold') format('svg');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Inter/inter-bold.eot');
  src: url('../assets/fonts/Inter/inter-bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Inter/inter-bold.woff2') format('woff2'),
       url('../assets/fonts/Inter/inter-bold.woff') format('woff'),
       url('../assets/fonts/Inter/inter-bold.ttf') format('truetype'),
       url('../assets/fonts/Inter/inter-bold.svg#interbold') format('svg');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Inter/inter-extrabold.eot');
  src: url('../assets/fonts/Inter/inter-extrabold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Inter/inter-extrabold.woff2') format('woff2'),
       url('../assets/fonts/Inter/inter-extrabold.woff') format('woff'),
       url('../assets/fonts/Inter/inter-extrabold.ttf') format('truetype'),
       url('../assets/fonts/Inter/inter-extrabold.svg#interextra_bold') format('svg');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/Inter/inter-black.eot');
  src: url('../assets/fonts/Inter/inter-black.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Inter/inter-black.woff2') format('woff2'),
       url('../assets/fonts/Inter/inter-black.woff') format('woff'),
       url('../assets/fonts/Inter/inter-black.ttf') format('truetype'),
       url('../assets/fonts/Inter/inter-black.svg#interblack') format('svg');
}

// Graphik

@font-face {
  font-family: Graphik;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Graphik/graphikregular.eot');
  src: url('../assets/fonts/Graphik/graphikregular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Graphik/graphikregular.woff2') format('woff2'),
       url('../assets/fonts/Graphik/graphikregular.woff') format('woff'),
       url('../assets/fonts/Graphik/graphikregular.ttf') format('truetype'),
       url('../assets/fonts/Graphik/graphikregular.svg#graphik_regularregular') format('svg');
}

// Geometria

@font-face {
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Geometria/geometria_medium.eot');
  src: url('../assets/fonts/Geometria/geometria_medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Geometria/geometria_medium.woff2') format('woff2'),
       url('../assets/fonts/Geometria/geometria_medium.woff') format('woff'),
       url('../assets/fonts/Geometria/geometria_medium.ttf') format('truetype'),
       url('../assets/fonts/Geometria/geometria_medium.svg#geometriamedium') format('svg');
}

// Icons 

$icomoon-font-family: "Icons" !default;
$icomoon-font-path: "../assets/fonts/Icons" !default;
$icon-star: "\e900";
$icon-star-filled: "\e901";
$icon-account: "\e902";
$icon-arrow-down: "\e903";
$icon-arrow-right: "\e904";
$icon-bag: "\e905";
$icon-blogger: "\e906";
$icon-calendar: "\e907";
$icon-check: "\e908";
$icon-chevron-left: "\e909";
$icon-chevron-right: "\e90a";
$icon-facebook: "\e90b";
$icon-instagram: "\e90c";
$icon-like: "\e90d";
$icon-linkedin: "\e90e";
$icon-loupe: "\e90f";
$icon-mark: "\e910";
$icon-pen: "\e911";
$icon-twitter: "\e912";



@font-face {
  font-display: block;
  font-family: '#{$icomoon-font-family}';
  font-style: normal;
  font-weight: normal;
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?t1dwtt');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?t1dwtt#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?t1dwtt') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?t1dwtt') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?t1dwtt##{$icomoon-font-family}') format('svg');
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}

.icon-star {
  &::before {
    content: $icon-star; 
  }
}

.icon-star-filled {
  &::before {
    content: $icon-star_filled; 
  }
}

.icon-account {
  &::before {
    content: $icon-account; 
  }
}

.icon-arrow-down {
  &::before {
    content: $icon-arrow_down; 
  }
}

.icon-arrow-right {
  &::before {
    content: $icon-arrow_right; 
  }
}

.icon-bag {
  &::before {
    content: $icon-bag; 
  }
}

.icon-blogger {
  &::before {
    content: $icon-blogger; 
  }
}

.icon-calendar {
  &::before {
    content: $icon-calendar; 
  }
}

.icon-check {
  &::before {
    content: $icon-check; 
  }
}

.icon-chevron-left {
  &::before {
    content: $icon-chevron_left; 
  }
}

.icon-chevron-right {
  &::before {
    content: $icon-chevron_right; 
  }
}

.icon-facebook {
  &::before {
    content: $icon-facebook; 
  }
}

.icon-instagram {
  &::before {
    content: $icon-instagram; 
  }
}

.icon-like {
  &::before {
    content: $icon-like; 
  }
}

.icon-linkedin {
  &::before {
    content: $icon-linkedin; 
  }
}

.icon-loupe {
  &::before {
    content: $icon-loupe; 
  }
}

.icon-mark {
  &::before {
    content: $icon-mark; 
  }
}

.icon-pen {
  &::before {
    content: $icon-pen; 
  }
}

.icon-twitter {
  &::before {
    content: $icon-twitter; 
  }
}
