header(class="header container")
  .header__links-block
    a(class="header__link" href="#" alt="Facebook")
      i.icon-facebook 
    a(class="header__link" href="#" alt="Instagram")
      i.icon-instagram 
    a(class="header__link" href="#" alt="LinkedIn")
      i.icon-linkedin 
    a(class="header__link" href="#" alt="Twitter")
      i.icon-twitter 
    a(class="header__link" href="#" alt="Blogger")
      i.icon-blogger
  button(class="header__tel-block" id="copy-button")
    p(class="header__tel") +380 (97) 17 033 21
    p(class="header__text" id="copy-button-text-main") Натисніть, щоб скопіювати
    p(class="header__text header__text_hidden header__text_pos-absolute" id="copy-button-text-add") Скопійовано