header(class="header container")
  .header__links-block
    a(class="header__link" href="https://uk-ua.facebook.com/" alt="Facebook" aria-label="Facebook")
      i.icon-facebook 
    a(class="header__link" href="https://www.instagram.com/" alt="Instagram" aria-label="Instagram")
      i.icon-instagram 
    a(class="header__link" href="https://ua.linkedin.com/" alt="LinkedIn" aria-label="LinkedIn")
      i.icon-linkedin 
    a(class="header__link" href="https://twitter.com/?lang=uk" alt="Twitter" aria-label="Twitter")
      i.icon-twitter 
    a(class="header__link" href="https://www.blogger.com/about/?bpli=1" alt="Blogger" aria-label="Blogger")
      i.icon-blogger
  button(class="header__tel-block" id="copy-button" aria-label="Натисніть, щоб скопіювати номер телефону +380971703321")
    p(class="header__tel" aria-hidden="true") +380 (97) 17 033 21
    p(class="header__desc-text" aria-hidden="true") 